page-log-book-lista {
  .scroll-content {
    padding-bottom: 70px !important;
  }
  .btn-calcular {
    width: 50px;
    height: 50px;
    display: block;
    .button-inner {
      font-size: 40px;
    }
  }
  .fab:not(.fab-share) {
    width: 46px;
    height: 46px;
    margin: 8px 0 8px 8px !important;
    background: #0165b1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .menu-type {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .segment-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1px !important;
    border: 0 !important;
    background: none !important;
    border-radius: 5px 5px 0 0 !important;
    border-bottom: 2px solid #CCC !important;
    span {
      color: #bab9b7;
      text-transform: capitalize;
    }
    .icon {
      color: #FFF;
    }
    flex-basis: initial !important;
  }
  .segment-button.segment-activated {
    background: 0 !important;
    border-bottom: 2px solid #0165b1 !important;
    span {
      color: #0165b1 !important;
      font-weight: 700;
    }
  }

  h3 {
    width: 100%;
    span {
      float: right;
      text-align: right;
      color: #999;
      font-size: 11px;
      line-height: 32px;
    }
  }
  .card-resumo {
    margin: 0 0 25px 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 10px;
    .row {
      border-bottom: 1px solid #ededed;
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
    .row:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    p {
      margin: 0;
    }
    p.p-icon {
      background: url("../assets/imgs/flight.png") 0 0 no-repeat;
      background-size: 18px;
      padding-left: 25px;
    }
    span {
      flex: auto;
      margin: 0;
      text-align: right;
      color: #0165b1;
    }
    .icon-edit {
      width: 7%;
      text-align: right;
      button {
        background: none;
        padding: 0;
        .icon {
          font-size: 1.6em;
          line-height: 15px;
        }
      }
    }
    .card-content {
      padding: 3px;
    }
    .item-block {
      min-height: 0px;
      padding: 0px;
      .item-inner {
        padding: 0px;
      }
    }
  }
  .calendar-1 {
    .row {
      p {
        background: url("../assets/imgs/calendar/calendar-1.png") 0 0 no-repeat;
        padding-left: 25px;
        background-size: 20px;
      }
    }
  }
  .calendar-2 {
    .row {
      p {
        background: url("../assets/imgs/calendar/calendar-2.png") 0 0 no-repeat;
        padding-left: 25px;
        background-size: 20px;
      }
    }
  }
  .engine {
    .row {
      p {
        background: url("../assets/imgs/calendar/engine.png") 0 0 no-repeat;
        padding-left: 25px;
        background-size: 18px;
      }
    }
  }
  .grafico {
    min-height: 250px;
  }

}
