<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row no-padding>
    <ion-segment class="menu-type" [(ngModel)]="logbookTabs" (ionChange)="changeSegment()">
        <ion-segment-button icon-left block value="resumo" class="col">
            <span ion-text class="text-12x">Resumo</span>
        </ion-segment-button>
        <ion-segment-button icon-left block value="lista" class="col">
            <span ion-text class="text-12x">Logbook</span>
        </ion-segment-button>
    </ion-segment>
  </ion-row>

  <div [ngSwitch]="logbookTabs">

    <div *ngSwitchCase="'resumo'" (swipe)="swipeEvent($event, 'resumo')">
      <p *ngIf="dataHasBeenLoaded && !logbookSummary" class="box-alert">Nenhum registro foi encontrado.</p>

      <div *ngIf="dataHasBeenLoaded && logbookSummary">
        <div>
          <h3>Logbook</h3>
        </div>

        <ion-card-content class="card card-resumo calendar-1">
          <ion-row>
            <p class="p-icon">Total</p> <span class="gray">{{ logbookSummary.entries.all | durationTime }}</span>
          </ion-row>
          <ion-row>
            <p>Últimos 7 Dias</p> <span class="gray">{{ logbookSummary.entries.sevenDays | durationTime }}</span>
          </ion-row>
          <ion-row>
            <p>Últimos 30 Dias</p> <span class="gray">{{ logbookSummary.entries.oneMonth | durationTime }}</span>
          </ion-row>
          <ion-row>
            <p>Últimos 6 Meses</p> <span class="gray">{{ logbookSummary.entries.sixMonth | durationTime }}</span>
          </ion-row>
          <ion-row>
            <p>Últimos 12 Meses</p> <span class="gray">{{ logbookSummary.entries.year | durationTime }}</span>
          </ion-row>
        </ion-card-content>

        <div>
          <h3>Horas de Vôo</h3>
        </div>

        <div #currencychart class="grafico"></div>

        <div>
          <h3>Limites <span>Horas Restantes</span></h3>
        </div>

        <ion-card-content class="card card-resumo calendar-2">
          <ion-row>
            <p>1 Mês</p> <span class="gray">{{ logbookSummary.limits.month }} hrs</span>
          </ion-row>
          <ion-row>
            <p>1 Ano</p> <span class="gray">{{ logbookSummary.limits.year }} hrs</span>
          </ion-row>
        </ion-card-content>

        <!--<div>
          <h3>Smart Groups</h3>
        </div>

        <p *ngIf="(!logbookSummary.smartList || logbookSummary.smartList.length <= 0)" class="box-alert">Nenhum registro foi encontrado.</p>

        <ion-card-content *ngIf="(logbookSummary.smartList && !(logbookSummary.smartList.length <= 0))" class="card card-resumo engine">
          <ion-row *ngFor="let smartItem of logbookSummary.smartList">
            <p>Horas {{ smartItem.company }}</p> <span class="gray">{{ smartItem.time | durationTime }}</span>
          </ion-row>
        </ion-card-content>-->
      </div>
    </div>

    <div *ngSwitchCase="'lista'" (swipe)="swipeEvent($event, 'lista')">
      <log-book-list *ngFor="let item of logbookList" [logbook]=item></log-book-list>
      
      <p *ngIf="dataHasBeenLoaded && (!logbookList || logbookList.length <= 0)" class="box-alert">Nenhum registro foi encontrado.</p>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

  </div>

  <ion-fab *ngIf="logbookTabs == 'lista'" bottom right large>
    <button class="btn-calcular" (click)="goToLogBookManualPage()" large ion-fab>+</button>
  </ion-fab>

  <ion-fab *ngIf="logbookTabs != 'lista'" bottom right large>
    <button class="btn-calcular" (click)="goToLogbookReport()" large ion-fab><ion-icon ios="ios-document" md="md-document"></ion-icon></button>
  </ion-fab>

</ion-content>
