<ion-card (click)="goToDetails($event)">

  <ion-card-content class="description">
	  <ion-item no-lines>
	    <p [ngClass]="{'placeholder-animate-loading placeholder-loading-30' : category == ''}" 
	       class="category-text" 
	       item-left>{{ category }}</p>

	    <span [ngClass]="{'placeholder-animate-loading placeholder-loading-20' : createdAt == ''}" 
	          class="published-at-text" 
	          item-right>{{ (createdAt != '') ? (createdAt | date: 'dd/MM/yyyy') : ""}}</span>
	  </ion-item>

	  <ion-item no-lines>
    	<p [ngClass]="{'placeholder-animate-loading placeholder-loading-100' : description == ''}" 
       	 class="description-text" [innerHTML]="description | keepContent | keepHtml"></p>
     </ion-item>
  </ion-card-content>

</ion-card>
