<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Assembleias</h2>
  </ion-item>

  <assembleia-item *ngFor="let article of articleList"
		[category]=[article.category]
		[createdAt]=[article.createdDate]
		[title]=[article.title]
		[description]=[article.content]
    [id]=[article.id]
    [hasSocialShare]=[true]>
	</assembleia-item>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
