<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <button ion-fab item-right no-padding color="dark" (click)="closeCadastroModal()"><ion-icon name="close"></ion-icon></button>

      <ion-title>
        <img *ngIf="!buttonClicked" src="./assets/imgs/sna.png">
      </ion-title>
    </div>

    <div class="box-error" *ngIf="hasFormError || isPasswordDifferent">
      <p no-padding no-margin *ngIf="hasFormError">Por favor, preencha os campos solicitados.</p>
      <p no-padding no-margin *ngIf="isPasswordDifferent">O campo de confirmação está diferente.</p>
      <p no-padding no-margin *ngIf="!storePersonalDataAgreement">Você deve ler e aceitar os Termos e Condições de Uso antes de prosseguir.</p>
    </div>

    <h3>Cadastro</h3>

    <!-- Register form -->
    <form class="list-form" (ngSubmit)="doRegistration()" [formGroup]="registrationForm">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          CPF
        </ion-label>
        <ion-input type="cpf" name="cpf" [brmasker]="{mask:'000.000.000-00', len:14}" formControlName="cpf" [class.error1]="!registrationForm.controls.cpf.valid && registrationForm.controls.cpf.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" name="email" formControlName="email" [class.error1]="!registrationForm.controls.email.valid && registrationForm.controls.email.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Senha
        </ion-label>
        <ion-input type="password" name="senha" formControlName="senha" [class.error1]="!registrationForm.controls.senha.valid && registrationForm.controls.senha.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Confirmar Senha
        </ion-label>
        <ion-input type="password" name="confirmarSenha" [ngModelOptions]="{standalone: true}" [(ngModel)]="passwordConfirmation"></ion-input>
      </ion-item>

      <ion-item text-wrap no-lines>
        <ion-label>Declaro que li e concordo com os <a class="check-box-link" (click)="goToTermsAndConditions()">Termos e Condições Gerais De Uso do Aplicativo</a>.</ion-label>
        <ion-checkbox [(ngModel)]="storePersonalDataAgreement" [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>

      <div>
        <button [disabled]="!storePersonalDataAgreement" type="submit" ion-button icon-start block class="btn-login" tappable>
          <ion-icon name="log-in"></ion-icon>
          EFETUAR CADASTRO
        </button>
      </div>
    </form>
  </div>
</ion-content>
