page-cadastro {
	.item-input.item-md.item-input-has-focus .item-inner, .item-input.item-ios.item-input-has-focus .item-inner {
		box-shadow: inset 0 0 0 0 #f488aff;
	}

	.item-md.item-block {
    padding-right: 0px;
	}

	.scroll-content {
		padding-top: 0 !important;
		margin-top: 5px !important;
	}

	.login-content {
		width: 90%;
		margin: 0 auto;
	}
	.box-alert {
		margin-top: 40px !important;
	}
	.login.auth-page {
		background: #FFF;
		.fab {
			background: #0165b1;
			height: 40px;
			width: 40px;
			top: -5px;
			right: 5px;
			border-radius: 3px;
			position: absolute;
			.icon {
				font-size: 33px;
			}
			.icon-md {
				font-size: 25px;
			}
		}
		.item {
			background: none;
			margin-top: 20px;
			.label {
				color: #666;
			}
			.text-input {
				color: #666;
			}
		}
		.btn-login {
			margin-top: 35px;
			background: #0165b1;
		}
		p {
			color: #666;
		}
	}

}
