<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <button ion-fab item-right no-padding color="dark" (click)="closeLoginModal()"><ion-icon name="close"></ion-icon></button>

      <ion-title>
        <img *ngIf="!buttonClicked" src="./assets/imgs/sna.png">
      </ion-title>
    </div>

    <p class="box-alert">Para acessar este recurso você precisa fazer login com a sua conta de associado.</p>

    <div *ngIf="hasFormError">
      <p class="box-error" no-padding no-margin>Por favor, digite um cpf e senha válidos.</p>
      <p *ngIf="!storePersonalDataAgreement" class="box-error" no-padding no-margin>Você deve ler e aceitar os Termos e Condições de Uso antes de prosseguir.</p>
    </div>

    <!-- Login form -->
    <form class="list-form" (ngSubmit)="doLogin()" [formGroup]="loginForm">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          CPF
        </ion-label>
        <ion-input type="cpf" name="cpf" [brmasker]="{mask:'000.000.000-00', len:14}" formControlName="cpf" [class.error1]="!loginForm.controls.cpf.valid && loginForm.controls.cpf.dirty"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Senha
        </ion-label>
        <ion-input type="password" name="senha" formControlName="senha" [class.error1]="!loginForm.controls.senha.valid && loginForm.controls.senha.dirty"></ion-input>
      </ion-item>

      <ion-item text-wrap no-lines>
        <ion-label>Declaro que li e concordo com os <a class="check-box-link" (click)="goToTermsAndConditions()">Termos e Condições Gerais De Uso do Aplicativo</a>.</ion-label>
        <ion-checkbox [(ngModel)]="storePersonalDataAgreement" [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>

      <div>
        <button [disabled]="!storePersonalDataAgreement" type="submit" ion-button icon-start block class="btn-login" tappable>
          <ion-icon name="log-in"></ion-icon>
          ENTRAR
        </button>
      </div>

    </form>
    <br>
    <br>
    <ion-label color="dark" text-center tappable (click)="forgotPass()">Esqueceu sua senha? clique aqui</ion-label>

    <ion-row>
      <button text-center tappable ion-button block class="btn-cadastro" (click)="goToCadastro()">Quero me cadastrar</button>
    </ion-row>

  </div>
</ion-content>
