page-perfil {
  .toolbar {
    .toolbar-title {
      font-size: 20px;
      margin-right: 12px;
    }
  }
  .edit-avatar {
    border-radius: 100%;
    width: 30%;
    margin-top: 15px;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .change-text {
    font-size: 13px;
    color: #659CF2;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .info-text {
    font-family: Arial, Helvetica, sans-serif;
  }

  .custom-hr {
    height: 3px;
  }
  button.button {
    .button-inner {
      font-size: 14px;
    }
  }
  .btn-trocar-senha {
    background: #FFF;
    border: 1px solid color($colors, primary, base);;
    color: color($colors, primary, base);
  }

  .btn-add-foto {
    display: block;
    margin: 0 auto;
    height: 26px !important;
    background: #FFF;
    border: 1px solid color($colors, primary, base);;
    color: color($colors, primary, base);
  }
  .btn-add-foto.green {
    background: green;
    border: 1px solid green;
    color: white;
  }

  .btn-save, .btn-cancel {
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .btn-save {
    margin-right: 5px;
  }

  .btn-cancel {
    margin-left: 5px;
  }

  .img-perfil {
    width: 100%;
    display: block;
    .profile-image-mask {
      display: inline-block;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      overflow: hidden;
      img {
        max-width: inherit;
        max-height: 100%;
      }
    }
  }

  .custom-select {
    margin-left: 15px;
    position: absolute;
  }
  .item.item-block {
    .item-inner {
      border: 0;
    }
  }
  .item.item-block.item-form-border {
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 15px;
    min-height: 3rem;
    .item-inner {
      border: 0;
      .icon {
        color: #666;
      }
      .text-input {
        font-size: 14px;
      }
      .text-input::-moz-placeholder {
        color: #CCC;
      }

      .text-input:-ms-input-placeholder {
        color: #CCC;
      }

      .text-input::-webkit-input-placeholder {
        text-indent: 0;
        color: #CCC;
      }
    }
  }
  .group-password {
    margin-top: 10px;
    h2 {
      margin-bottom: 10px;
    }
  }
}
