<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        Perfil
      </ion-title>
      <button width="50" item-right ion-button (click)="goLogout()">
        <img alt="" src="./assets/imgs/logout-icon.png">
      </button>
    </ion-item>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="img-perfil" text-center>

    <div class="div-image" *ngIf="!isChangingImage">
      <div class="profile-image-mask">
        <img class="uploaded-image" [src]="userModel.foto || './assets/imgs/user-profile.png'" alt="your upload image" />
      </div>
      <p (click)="openChangeImageModal()" class="change-text">Mudar foto</p>
    </div>

    <div class="div-image" *ngIf="isChangingImage">
      <div class="profile-image-mask">
        <img class="uploaded-image" [src]="intendedPhotoSrc || './assets/imgs/user-profile.png'" alt="your upload image" />
      </div>
    </div>

  </div>

  <div *ngIf="isChangingImage">
    <ion-item class="item-file-btn">
      <input type="file" name="file" (change)="fileChange($event)" id="file-input" style="display: none" #fileInp>
      <button class="btn-add-foto" [ngClass]="{'green' : (labelFile == 'Alterar') }"
       ion-button (click)="addFileNextStep()" middle>{{ labelFile }}</button>
    </ion-item>
    <ion-grid no-margin no-padding>
      <ion-row>
        <ion-col col-6>
          <button (click)="doUploadFile()" [disabled]="!intendedPhotoSrc" ion-button full class="btn-save" tappable>Confirmar</button>
        </ion-col>
        <ion-col col-6>
          <button (click)="cancelUploadFile()" ion-button full class="btn-cancel" tappable>Cancelar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item class="item-form-border">
    <ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-label>
    <ion-input type="text" [value]="userModel.nome | titlecase" disabled placeholder="Nome"></ion-input>
  </ion-item>

  <ion-item class="item-form-border">
    <ion-label>
      <ion-icon name="mail"></ion-icon>
    </ion-label>
    <ion-input type="text" [value]="userModel.email" disabled placeholder="Email"></ion-input>
  </ion-item>

  <ion-item *ngIf="!openPassword">
    <button ion-button block large color="light" (click)="goOpenPassword()" class="btn-trocar-senha">Trocar minha senha</button>
  </ion-item>


  <!-- Change Password form -->
  <form *ngIf="openPassword" (ngSubmit)="saveChanges()" [formGroup]="passwordChangeForm">
    <ion-item-group class="group-password">

      <ion-item class="titles" no-lines no-padding>
        <h2 item-left>Trocar a senha</h2>
      </ion-item>

      <div class="box-error" *ngIf="hasFormError || isPasswordDifferent">
        <p no-padding no-margin *ngIf="hasFormError">Por favor, preencha os campos solicitados.</p>
        <p no-padding no-margin *ngIf="isPasswordDifferent">O campo de confirmação está diferente.</p>
      </div>

      <ion-item class="item-form-border">
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input placeholder="Digite a senha atual" type="password" name="senhaAtual" formControlName="senhaAtual" [class.error1]="!passwordChangeForm.controls.senhaAtual.valid && passwordChangeForm.controls.senhaAtual.dirty"></ion-input>
      </ion-item>

      <ion-item class="item-form-border">
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input placeholder="Digite a nova senha" type="password" name="senha" formControlName="senha" [class.error1]="!passwordChangeForm.controls.senha.valid && passwordChangeForm.controls.senha.dirty"></ion-input>
      </ion-item>

      <ion-item class="item-form-border">
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input placeholder="Confirme a nova senha" type="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="passwordConfirmation"></ion-input>
      </ion-item>

      <ion-item>
        <button type="submit" ion-button block large class="btn-save" tappable>Salvar alterações</button>
      </ion-item>

    </ion-item-group>

  </form>

  <br>
  <hr>

  <p><a class="check-box-link" (click)="goToTermsAndConditions()">Termos e Condições Gerais De Uso do Aplicativo</a></p>

</ion-content>
