page-lista-solicitacoes {
  .btn-solicitar {
    width: 70px;
    height: 70px;
    display: block;
    .button-inner {
      font-size: 40px;
    }
  }
  .fab:not(.fab-share) {
    width: 60px;
    height: 60px;
    margin: 8px 0 8px 8px !important;
    background: #0165b1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
