<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Lista de Solicitações - {{ tipo }}</h2>
  </ion-item>

  <solicitacao-atendimento-item *ngFor="let request of requestList"
    [id]=[request.id]
    [status]=[request.status]
    [summary]=[request.summary]
    [type]=[request.type]
    [response]=[request.response]>
  </solicitacao-atendimento-item>

  <p *ngIf="dataHasBeenLoaded && (!requestList || requestList.length <= 0)" class="box-alert">Nenhum registro foi encontrado.</p>

  <ion-fab bottom right large>
    <button class="btn-solicitar" (click)="goToSolicitarAtendimentoPage($event)" large ion-fab>+</button>
  </ion-fab>

</ion-content>
