<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content (swipe)="swipeEvent($event)" padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Serviços</h2>
  </ion-item>

  <ion-grid class="services services-page" no-padding>
    <ion-row>
      <ion-col>
        <button no-padding (click)="goToCarteirinhaExternalPage()">
          <ion-img src="./assets/imgs/servicos/carteirinha.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button no-padding (click)="goToAssembleiasPage()">
          <ion-img src="./assets/imgs/servicos/assembleia.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button no-padding tappable (click)="goToParceriasPage()">
          <ion-img src="./assets/imgs/servicos/parceria.svg"></ion-img>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button no-padding tappable (click)="goToCarreirasPage()">
          <ion-img src="./assets/imgs/servicos/carreira.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button no-padding tappable (click)="goToEscritoriosRegionais()">
          <ion-img src="./assets/imgs/servicos/esc_regionais.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button no-padding tappable (click)="goToPasseLivrePage()">
          <ion-img src="./assets/imgs/servicos/passelivre.svg"></ion-img>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button no-padding tappable (click)="goToAcoesColetivasPage()">
          <ion-img src="./assets/imgs/servicos/acoes.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button no-padding tappable (click)="goToAgendarConsultaPage()">
          <ion-img src="./assets/imgs/servicos/consulta.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button no-padding tappable (click)="goToListaCalculoSalarioPage()">
          <ion-img src="./assets/imgs/servicos/calculo.svg"></ion-img>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button no-padding tappable (click)="goToSolicitarAtendimentoPage($event, 'JURIDICO')">
          <ion-img src="./assets/imgs/servicos/juridico.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button no-padding tappable (click)="goToSolicitarAtendimentoPage($event, 'DENUNCIA')">
          <ion-img src="./assets/imgs/servicos/denuncia.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button no-padding tappable (click)="goToSolicitarAtendimentoPage($event, 'RELPREV')">
          <ion-img src="./assets/imgs/servicos/relprev.svg"></ion-img>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button no-padding tappable (click)="goToLogBookListaPage()">
          <ion-img src="./assets/imgs/servicos/logbook.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>
        <button no-padding tappable (click)="goToCalculoJornadaPage()">
          <ion-img src="./assets/imgs/servicos/jornada.svg"></ion-img>
        </button>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
