page-calculo-salario {
  .calculo-grid {
    p {
      width: 100%;
      text-align: left;
      margin-bottom: 4px;
      margin-top: 4px;
      font-size: 14px;
      span {
        float: right;
        font-size: 14px;
      }
      b {
        font-weight: 700;
        font-size: 16px;
      }
    }
    p.text-blue {
      color: #0165b1;
    }
    p.p-traco {
      padding-top: 10px;
      margin-top: 8px;
      border-top: 1px dashed #999;
      color: #0165b1;
    }
    p.p-traco-2 {
      padding-top: 10px;
      margin-top: 8px;
      border-top: 1px dashed #999;
    }

    .calculo-col {
      flex-basis: initial !important;
    }
    .calculo-col-1 {
      width: 35%;
      margin-right: 10%;
    }
    .calculo-col-2 {
      width: 55%;
    }
    .calculo-col-3 {
      width: 45%;
      margin-right: 10%;
    }
    .calculo-col-4 {
      width: 45%;
    }
  }
}
@media (max-width:321px) {
  page-calculo-salario {
    .calculo-grid {
      p {
        font-size: 12px;
        span {
          font-size: 12px;
        }
        b {
          font-size: 12px;
        }
      }
    }
  }

}
