<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Cálculo de Salário</h2>
  </ion-item>

  <div *ngIf="plannedWageCalculation">
    <div>
      <h3>Escala Planejada</h3>
    </div>

    <ion-grid class="calculo-grid" no-padding>
      <ion-row>
          <p>Diurnas:<span>{{ plannedWageCalculation.dayHours | durationTime }}</span></p>
          <p>Noturnas:<span>{{ plannedWageCalculation.nightHours | durationTime }}</span></p>
          <p>Especiais:<span>{{ plannedWageCalculation.specialHours | durationTime }}</span></p>
          <p>Compensadas:<span>{{ plannedWageCalculation.compensatedHours | durationTime }}</span></p>
          <p class="p-traco">Remuneradas:<span>{{ plannedWageCalculation.paidHours | durationTime }}</span></p>
      </ion-row>
      <hr>
      <ion-row *ngIf="plannedWageCalculation.daily">
        <p><b>Diárias:</b></p>
        <p>Valor Diárias Total:<span>{{ plannedWageCalculation.valorDiarias | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Valor Diárias 25/{{ plannedWageCalculation.data[1] }}:<span>{{ plannedWageCalculation.horasDiarias25 | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Valor Diárias 10/{{ plannedWageCalculation.data[1] + 1 }}:<span>{{ plannedWageCalculation.horasDiarias10 | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>{{ plannedWageCalculation.daily }}</p>
      </ion-row>
      <hr>
    </ion-grid>

    <ion-grid class="calculo-grid" no-padding>
      <p><b>Horas Detalhes:</b></p>
      <ion-row>
          <p>Horas Voadas Total:<span>{{ plannedWageCalculation.horasVoadas | durationTime }}</span></p>
          <p>Horas Diurnas:<span>{{ plannedWageCalculation.dayHours | durationTime }}</span></p>
          <p>Horas Noturnas:<span>{{ plannedWageCalculation.nightHours | durationTime }}</span></p>
          <p>Horas CAT1 Total:<span>{{ plannedWageCalculation.horasCat1 | durationTime }}</span></p>
          <p>Horas CAT1 Diurnas:<span>{{ plannedWageCalculation.horasCat1Diurnas | durationTime }}</span></p>
          <p>Horas CAT1 Noturnas:<span>{{ plannedWageCalculation.horasCat1Noturna | durationTime }}</span></p>
          <p>Horas Reserva Total:<span>{{ (plannedWageCalculation.horasReserva * 1) + (plannedWageCalculation.horasReservaNoturna * 1) | durationTime }}</span></p>
          <p>Horas Reserva Diurnas:<span>{{ plannedWageCalculation.horasReserva | durationTime }}</span></p>
          <p>Horas Reserva Noturnas:<span>{{ plannedWageCalculation.horasReservaNoturna | durationTime }}</span></p>
          <p>Horas Sobreaviso:<span>{{ plannedWageCalculation.horasSobreaviso | durationTime }}</span></p>
          <p>Horas Especiais Total:<span>{{ plannedWageCalculation.specialHours | durationTime }}</span></p>
          <p>Horas Especiais Diurnas:<span>{{ plannedWageCalculation.horasDiurnasEspeciais | durationTime }}</span></p>
          <p>Horas Especiais Noturnas:<span>{{ plannedWageCalculation.horasNoturnasEspeciais | durationTime }}</span></p>
          <p>Horas Compensadas:<span>{{ plannedWageCalculation.compensatedHours | durationTime }}</span></p>
          <p class="p-traco">Horas Remuneradas Total:<span>{{ plannedWageCalculation.paidHours | durationTime }}</span></p>
      </ion-row>
      <hr>
      <ion-row>
        <p><b>Proventos:</b></p>
        <p>Salário (30 dias):<span>{{ plannedWageCalculation.wage | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Compensação Orgânica:<span>{{ plannedWageCalculation.organicCompensation | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Adicional de Periculosidade:<span>{{ plannedWageCalculation.additionalHazard | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Horas de Vôo ({{ plannedWageCalculation.horasVoadas | durationTime }}):<span>{{ plannedWageCalculation.valorHorasVoo | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Noturna Normal ({{ plannedWageCalculation.horasNoturnasNormal | durationTime }}):<span>{{ plannedWageCalculation.totalHorasNoturnasNormal | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Dom/Fer. Diurno ({{ plannedWageCalculation.horasDomFevDiurno | durationTime }}):<span>{{ plannedWageCalculation.valorHorasDomFevDiurno | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Dom/Fer. Noturno ({{ plannedWageCalculation.horasDomFevNoturno | durationTime }}):<span>{{ plannedWageCalculation.valorHorasDomFevNoturno | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Adicional SDU ({{ plannedWageCalculation.contagemSDU }}):<span>{{ plannedWageCalculation.horasAdicionalSDU | emptySub: 0 | currency:'BRL':true }}</span></p>
        <br>
        <p><b>Descontos:</b></p>
        <p>INSS:<span>{{ plannedWageCalculation.inss | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>IRRF:<span>{{ plannedWageCalculation.irrf | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Desc. SNA:<span>{{ plannedWageCalculation.desSNA | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p class="p-traco-2">Total Proventos:<span>{{ plannedWageCalculation.totalProventos | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Total Descontos:<span>{{ plannedWageCalculation.totalDescontos | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>FGTS:<span>{{ plannedWageCalculation.fgts | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p class="text-blue">Salário Líquido:<span>{{ plannedWageCalculation.netSalary | emptySub: 0 | currency:'BRL':true }}</span></p>
      </ion-row>
    </ion-grid>
    <hr>

    <ion-row>
      <ion-col>
        <button ion-button (click)="recalculatePlanned()" block>Recalcular</button>
      </ion-col>
      <ion-col *ngIf="plannedWageCalculation.file">
        <button ion-button (click)="openPlannedFile()" block>Ver</button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="executedWageCalculation">
    <div>
      <h3>Escala Executada</h3>
    </div>

    <ion-grid class="calculo-grid" no-padding>
      <ion-row>
          <p>Diurnas:<span>{{ executedWageCalculation.dayHours | durationTime }}</span></p>
          <p>Noturnas:<span>{{ executedWageCalculation.nightHours | durationTime }}</span></p>
          <p>Especiais:<span>{{ executedWageCalculation.specialHours | durationTime }}</span></p>
          <p>Compensadas:<span>{{ executedWageCalculation.compensatedHours | durationTime }}</span></p>
          <p class="p-traco">Remuneradas:<span>{{ executedWageCalculation.paidHours | durationTime }}</span></p>
      </ion-row>
      <hr>
      <ion-row *ngIf="executedWageCalculation.daily">
        <p><b>Diárias:</b></p>
        <p>Valor Diárias Total:<span>{{ executedWageCalculation.valorDiarias | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Valor Diárias 25/{{ executedWageCalculation.data[1] }}:<span>{{ executedWageCalculation.horasDiarias25 | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Valor Diárias 10/{{ executedWageCalculation.data[1] + 1 }}:<span>{{ executedWageCalculation.horasDiarias10 | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>{{ executedWageCalculation.daily }}</p>
      </ion-row>
      <hr>
    </ion-grid>

    <ion-grid class="calculo-grid" no-padding>
      <p><b>Horas Detalhes:</b></p>
      <ion-row>
          <p>Horas Voadas Total:<span>{{ executedWageCalculation.horasVoadas | durationTime }}</span></p>
          <p>Horas Diurnas:<span>{{ executedWageCalculation.dayHours | durationTime }}</span></p>
          <p>Horas Noturnas:<span>{{ executedWageCalculation.nightHours | durationTime }}</span></p>
          <p>Horas CAT1 Total:<span>{{ executedWageCalculation.horasCat1 | durationTime }}</span></p>
          <p>Horas CAT1 Diurnas:<span>{{ executedWageCalculation.horasCat1Diurnas | durationTime }}</span></p>
          <p>Horas CAT1 Noturnas:<span>{{ executedWageCalculation.horasCat1Noturna | durationTime }}</span></p>
          <p>Horas Reserva Total:<span>{{ (executedWageCalculation.horasReserva * 1) + (executedWageCalculation.horasReservaNoturna * 1) | durationTime }}</span></p>
          <p>Horas Reserva Diurnas:<span>{{ executedWageCalculation.horasReserva | durationTime }}</span></p>
          <p>Horas Reserva Noturnas:<span>{{ executedWageCalculation.horasReservaNoturna | durationTime }}</span></p>
          <p>Horas Sobreaviso:<span>{{ executedWageCalculation.horasSobreaviso | durationTime }}</span></p>
          <p>Horas Especiais Total:<span>{{ executedWageCalculation.specialHours | durationTime }}</span></p>
          <p>Horas Especiais Diurnas:<span>{{ executedWageCalculation.horasDiurnasEspeciais | durationTime }}</span></p>
          <p>Horas Especiais Noturnas:<span>{{ executedWageCalculation.horasNoturnasEspeciais | durationTime }}</span></p>
          <p>Horas Compensadas:<span>{{ executedWageCalculation.compensatedHours | durationTime }}</span></p>
          <p class="p-traco">Horas Remuneradas Total:<span>{{ executedWageCalculation.paidHours | durationTime }}</span></p>
      </ion-row>
      <hr>
      <ion-row>
        <p><b>Proventos:</b></p>
        <p>Salário (30 dias):<span>{{ executedWageCalculation.salarioBase | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Compensação Orgânica:<span>{{ executedWageCalculation.organicCompensation | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Adicional de Periculosidade:<span>{{ executedWageCalculation.additionalHazard | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Horas de Vôo ({{ executedWageCalculation.horasVoo | durationTime }}):<span>{{ executedWageCalculation.valorHorasVoo | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Noturna Normal ({{ executedWageCalculation.horasNoturnasNormal | durationTime }}):<span>{{ executedWageCalculation.totalHorasNoturnasNormal | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Dom/Fer. Diurno ({{ executedWageCalculation.horasDomFevDiurno | durationTime }}):<span>{{ executedWageCalculation.valorHorasDomFevDiurno | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Dom/Fer. Noturno ({{ executedWageCalculation.horasDomFevNoturno | durationTime }}):<span>{{ executedWageCalculation.valorHorasDomFevNoturno | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Adicional SDU ({{ executedWageCalculation.contagemSDU }}):<span>{{ executedWageCalculation.horasAdicionalSDU | emptySub: 0 | currency:'BRL':true }}</span></p>
        <br>
        <p><b>Descontos:</b></p>
        <p>INSS:<span>{{ executedWageCalculation.inss | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>IRRF:<span>{{ executedWageCalculation.irrf | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Desc. SNA:<span>{{ executedWageCalculation.desSNA | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p class="p-traco-2">Total Proventos:<span>{{ executedWageCalculation.totalProventos | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>Total Descontos:<span>{{ executedWageCalculation.totalDescontos | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p>FGTS:<span>{{ executedWageCalculation.fgts | emptySub: 0 | currency:'BRL':true }}</span></p>
        <p class="text-blue">Salário Líquido:<span>{{ executedWageCalculation.netSalary | emptySub: 0 | currency:'BRL':true }}</span></p>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-row>
      <ion-col *ngIf="executedWageCalculation.file">
        <button ion-button (click)="openExecutedFile()" block>Ver</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
