page-new-details {
	.news-styles {
    padding-top: 16px;
	  h3 {
	    color: #0165b1;
	    font-size: 16px;
	  }
	  .share-button {
	  	background-color: white;
	  	margin-top: 10px;
	    padding: 10px;
	    font-size: 15px;
	    border: 2px solid #1264b6;
	    border-radius: 10px;
	  }
	  .text {
			font-size: 14px !important;
	    line-height: 26px;
	    * {
	      line-height: 26px;
				font-size: 14px !important;
	    }
	    p {
	      line-height: 26px;
				font-size: 14px !important;
	    }
			div {
				font-size: 14px !important;
			}
	    img {
	    	width: 100%;
    		height: auto;
	    }
	  }
	}
}
