<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="news-styles">
    <h3 *ngIf="title">{{title}}</h3>
    <hr *ngIf="title">
    <div *ngIf="description" class="text" [innerHTML]="description | adjustExternalLinks | keepHtml"></div>
  </div>

  <ion-fab *ngIf="enableSocialShare" right bottom>
    <button class="fab-share" (click)="shareTo()" ion-fab color="light"><ion-icon ios="ios-share-outline" md="md-share"></ion-icon></button>
  </ion-fab>

</ion-content>
