<ion-card (click)="goToDetails($event)">

  <ion-card-content class="description">
	  <ion-item no-lines>
	    <p [ngClass]="{'placeholder-animate-loading placeholder-loading-30' : type == ''}"
	       class="category-text"
	       item-left>{{ type }}</p>

	    <span [ngClass]="{'placeholder-animate-loading placeholder-loading-20' : status == ''}"
	          class="published-at-text"
	          item-right>{{ status }}</span>
	  </ion-item>

	  <ion-item no-lines>
			<p [ngClass]="{'placeholder-animate-loading placeholder-loading-100' : summary == ''}"
				class="description-text">{{ summary }}</p>
		</ion-item>

  </ion-card-content>

</ion-card>
