page-home {
  h4 {
    margin-right: 0 !important;
  }
  .text-user {
    font-weight: 700;
    white-space: nowrap;
  }
  .profile-container {
    display: -webkit-box;
    margin: 0px !important;
    .profile-image-mask {
      display: inline-block;
      width: 34px;
      height: 34px;
      margin: 0 0 0 10px;
      border-radius: 50%;
      overflow: hidden;
      img {
        max-width: inherit;
        max-height: 100%;
      }
    }
  }
}
