<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <button width="50" [ngClass]="{'btn-search-active' : isSearchBarOpenned}" item-left ion-button (click)="onButtonClick()">
        <img *ngIf="!isSearchBarOpenned" alt="" src="./assets/imgs/servicos/search@2x.png">
        <img *ngIf="isSearchBarOpenned" alt="" src="./assets/imgs/servicos/close.png">
      </button>

      <ion-searchbar
        #searchbar
        item-left
        no-margin
        showCancelButton="false"
        [ngClass]="{'btn-search-active' : isSearchBarOpenned}"
        *ngIf="isSearchBarOpenned"
        [(ngModel)]="searchInput"
        placeholder="Buscar"
        [showCancelButton]="false"
        (search)="onSearchClick()">
      </ion-searchbar>

      <button *ngIf="isSearchBarOpenned" [ngClass]="{'btn-search-active' : isSearchBarOpenned}" width="50" item-left ion-button (click)="onSearchClick()">
        <img alt="" src="./assets/imgs/servicos/search@2x.png">
      </button>

      <div *ngIf="!isSearchBarOpenned" item-right class="profile-container">
        <div *ngIf="userModel" (click)="onProfileClick()" class="profile-container">
          <h4 class="text-user" item-right>{{ userModel.nome | titlecase }}</h4>

          <div class="div-image">
            <div class="profile-image-mask">
              <img class="uploaded-image" [src]="userModel.foto || './assets/imgs/user-profile.png'" alt="profile image" />
            </div>
          </div>

        </div>

        <button class="btn-entrar" *ngIf="!userModel" (click)="onLoginClick()">Entrar</button>

      </div>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left no-padding no-margin>Notícias</h2>
    <button ion-fab item-right no-padding (click)="goToNewsPage()"><ion-icon name="add"></ion-icon></button>
  </ion-item>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    	pullingIcon="arrow-dropdown"
      pullingText="Solte para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando as Notícias...">
    </ion-refresher-content>
  </ion-refresher>
	<news-item *ngFor="let article of articleList"
		[category]=[article.category]
		[createdAt]=[article.createdDate]
		[title]=[article.title]
		[description]=[article.content]
    [id]=[article.id]
    [hasSocialShare]=[true]>
	</news-item>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Serviços</h2>
    <button ion-fab item-right no-padding (click)="goToServicesPage()"><ion-icon name="add"></ion-icon></button>
  </ion-item>

  <ion-grid class="services" no-padding>
	  <ion-row>
	    <ion-col>
	      <button no-padding (click)="goToCarteirinhaExternalPage()">
          <ion-img class="service-1" src="./assets/imgs/servicos/carteirinha.svg"></ion-img>
        </button>
	    </ion-col>
	    <ion-col>
	      <button no-padding (click)="goToCalculoJornadaPage()">
          <ion-img class="service-2" src="./assets/imgs/servicos/jornada.svg"></ion-img>
        </button>
	    </ion-col>
	    <ion-col>
        <button no-padding (click)="goToPasseLivrePage()">
          <ion-img class="service-3" src="./assets/imgs/servicos/passelivre.svg"></ion-img>
        </button>
	    </ion-col>
	  </ion-row>

	  <ion-row>
	    <ion-col>
	      <button no-padding (click)="goToListaCalculoSalarioPage()">
          <ion-img class="service-4" src="./assets/imgs/servicos/calculo.svg"></ion-img>
        </button>
	    </ion-col>
	    <ion-col>
        <button no-padding (click)="goToLogBookListaPage()">
          <ion-img class="service-5" src="./assets/imgs/servicos/logbook.svg"></ion-img>
        </button>
      </ion-col>
	    <ion-col>
        <button no-padding (click)="goToSolicitarAtendimentoPage($event, 'DENUNCIA')">
          <ion-img class="service-6" src="./assets/imgs/servicos/denuncia.svg"></ion-img>
        </button>
	    </ion-col>
	  </ion-row>
	</ion-grid>

</ion-content>
