page-detalhes-solicitacoes {
  .button {
    font-size: 12px;
    padding: 5px;
  }
  .botoes {
    padding-left: 150px;
  }
  .box-azul {
    background: #e8f0ff;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border: 1px solid #1f51a8;
    p  {
      width: 100%;
      display: inline-block;
      margin-bottom: 8px;
      margin-top: 0;
      strong {
        width: 20%;
        display: inline-block;
        font-weight: 700;
      }
      span {
        width: 80%;
        display: inline-block;
      }
      b {
        font-weight: 700;
      }
    }
  }
  .box-branco {
    border: 1px solid #CCC;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 7px;
    margin-bottom: 15px;
    p {
      margin: 0;
      font-size: 13px;
      line-height: 22px;
    }

  }
  .box-cinza {
    border: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    margin-bottom: 0;
    p {
      margin: 0 0 3px 0;
      width: 100%;
      font-size: 12px;
      strong {
        width: 14%;
        display: inline-block;
      }
      span {
        width: 86%;
        display: inline-block;
      }
    }
    background: #ededed;
  }
  .arquivos-anexados {
    .col {
      width: 30%;
      flex-basis: initial !important;
      -webkit-flex-basis: initial !important;
    }
    .col.col-nome {
      width: 70%;
    }
    .btn-remover {
      background: #CCC;
      font-size: 12px;
      padding: 3px 4px;
      color: #333;
    }
  }
  #file-input {
    width: 190px;
  }
  .upload-files {
    .item.item-block {
      border-bottom: 1px solid #ededed !important;
    }
    .item-inner, .item.item-block.item-no-border {
      border-bottom: 0 !important;
    }
  }

}
