<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Detalhes Solicitação -  {{ data?.type}}</h2>
  </ion-item>

  <div>

    <ion-grid class="box-azul">
      <ion-row>
          <p><strong>De:</strong><span>{{ userModel?.nome }}</span></p>
          <p><strong>Data:</strong><span>{{ getDate(data?.date) }}</span></p>
          <p><strong>Nº Atd:</strong><span>{{ data?.id }}</span></p>
          <p><strong>Status:</strong><span>{{ data?.status }}</span></p>
          <p><strong>Assunto:</strong><span></span></p>
          <p><b>Descrição:</b> {{ data?.summary }} </p>
      </ion-row>
    </ion-grid>

    <div class="resposta" *ngFor="let chat of data?.chats">
      <ion-grid class="box-cinza">
        <ion-row>
          <p>
            <strong>De:</strong><span *ngIf="chat?.atendimento?.atendente?.cargo?.nome">{{ chat?.atendimento?.atendente?.cargo?.nome }}</span><span *ngIf="!chat.atendimento.name">{{ userModel?.nome }}</span>
          </p><br>
          <p><strong>Data:</strong><span>{{ getDate(chat.time) }}</span></p>
        </ion-row>
      </ion-grid>
      <ion-grid class="box-branco">
        <ion-row>
            <p>{{ chat.text }}</p>
        </ion-row>
      </ion-grid>
    </div>

    <ion-row class="botoes" *ngIf="data?.status != 'FECHADO'">
      <ion-col>
        <button ion-button (click)="sendMessage()" block>Responder</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="doCloseRequest()" block>Encerrar</button>
      </ion-col>
    </ion-row>
  </div>

  <div class="upload-files">

    <div class="arquivos-anexados">
      <h3>Arquivos Anexados</h3>

      <ion-list *ngIf="data?.anexos?.length > 0">
        <ion-item *ngFor="let anexo of data.anexos">
          <ion-label item-left text-wrap (click)="openPDF(anexo.url)"><a>{{ anexo.nome }}</a></ion-label>
          <ion-label *ngIf="data?.status != 'FECHADO'" item-right text-right (click)="removeFile(anexo.id)"><ion-icon name="trash"></ion-icon> remover</ion-label>
        </ion-item>
      </ion-list>

      <p *ngIf="data?.anexos?.length == 0" class="box-alert">Nenhum.</p>

    </div>

    <ion-item class="item-upload-file item-type-1 item-type-no-border" *ngIf="data?.status != 'FECHADO'">
       <ion-item class="item-file-btn item-no-border" item-left>
         <button class="btn-add-file" ion-button (click)="addFileNextStep()" middle>Adicionar arquivo...</button>
         <input type="file" name="file" multiple="multiple" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,video/*, audio/*" (change)="fileChange($event)" id="file-input" style="opacity: 0" #fileInp />
       </ion-item>
    </ion-item>

  </div>


</ion-content>
