page-calculo-jornada {
  .calculo-content {
    padding: 10px 15px;
    border: 1px solid #ededed;
    border-radius: 5px;
    margin-top: 25px;
    h2 {
      font-weight: 700;
      margin-bottom: 15px !important;
    }
    h3 {
      font-weight: 700;
    }
  }
}
