<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Tabela de Jornadas</h2>
  </ion-item>

  <div text-center>
    <p class="primary-color">Tabela de Limite de Jornada de Trabalho entre a Apresentação e o Corte de Motores</p>
    <div class="small" style="margin-bottom: 10px;">(já descontados os trinta minutos após o corte)</div>
  </div>
  <div text-center>
    <div class="small">
      Os horários expressos nestas tabelas são referenciais para os limites de horas de jornada conforme o tipo de tripulação.
      Os aeronautas devem considerar para o cálculo o horário de apresentação, a hora noturna, o tipo de tripulação e o corte dos motores.
      A autoridade máxima a bordo é responsável por avaliar as características do voo e o horário limite da tripulação.
    </div>
  </div>

  <form class="form-template">

    <ion-item class="item-type-no-border">
      <ion-label>Escolha horário apresentação:</ion-label>
    </ion-item>
    <ion-item class="item-type-no-border">
      <ion-select class="combo-box" (ionChange)="onChange($event)">
        <!-- <ion-option *ngFor="let horario of horariosLista" value="">{{ horario.time }} hrs</ion-option> -->
        <ion-option value="jornada_p00" [selected]="true">00:00 hrs</ion-option>
        <ion-option value="jornada_p01">00:15 hrs</ion-option>
        <ion-option value="jornada_p02">00:30 hrs</ion-option>
        <ion-option value="jornada_p03">00:45 hrs</ion-option>
        <ion-option value="jornada_p04">01:00 hrs</ion-option>
        <ion-option value="jornada_p05">01:15 hrs</ion-option>
        <ion-option value="jornada_p06">01:30 hrs</ion-option>
        <ion-option value="jornada_p07">01:45 hrs</ion-option>
        <ion-option value="jornada_p08">02:00 hrs</ion-option>
        <ion-option value="jornada_p09">02:15 hrs</ion-option>
        <ion-option value="jornada_p10">02:30 hrs</ion-option>
        <ion-option value="jornada_p11">02:45 hrs</ion-option>
        <ion-option value="jornada_p12">03:00 hrs</ion-option>
        <ion-option value="jornada_p13">03:15 hrs</ion-option>
        <ion-option value="jornada_p14">03:30 hrs</ion-option>
        <ion-option value="jornada_p15">03:45 hrs</ion-option>
        <ion-option value="jornada_p16">04:00 hrs</ion-option>
        <ion-option value="jornada_p17">04:15 hrs</ion-option>
        <ion-option value="jornada_p18">04:30 hrs</ion-option>
        <ion-option value="jornada_p19">04:45 hrs</ion-option>

        <ion-option value="jornada_p20">05:00 hrs</ion-option>
        <ion-option value="jornada_p21">05:15 hrs</ion-option>
        <ion-option value="jornada_p22">05:30 hrs</ion-option>
        <ion-option value="jornada_p23">05:45 hrs</ion-option>
        <ion-option value="jornada_p24">06:00 hrs</ion-option>
        <ion-option value="jornada_p25">06:15 hrs</ion-option>
        <ion-option value="jornada_p26">06:30 hrs</ion-option>
        <ion-option value="jornada_p27">06:45 hrs</ion-option>
        <ion-option value="jornada_p28">07:00 hrs</ion-option>
        <ion-option value="jornada_p29">07:15 hrs</ion-option>
        <ion-option value="jornada_p30">07:30 hrs</ion-option>
        <ion-option value="jornada_p31">07:45 hrs</ion-option>
        <ion-option value="jornada_p32">08:00 hrs</ion-option>
        <ion-option value="jornada_p33">08:15 hrs</ion-option>
        <ion-option value="jornada_p34">08:30 hrs</ion-option>
        <ion-option value="jornada_p35">08:45 hrs</ion-option>
        <ion-option value="jornada_p36">09:00 hrs</ion-option>
        <ion-option value="jornada_p37">09:15 hrs</ion-option>
        <ion-option value="jornada_p38">09:30 hrs</ion-option>
        <ion-option value="jornada_p39">09:45 hrs</ion-option>

        <ion-option value="jornada_p40">10:00 hrs</ion-option>
        <ion-option value="jornada_p41">10:15 hrs</ion-option>
        <ion-option value="jornada_p42">10:30 hrs</ion-option>
        <ion-option value="jornada_p43">10:45 hrs</ion-option>
        <ion-option value="jornada_p44">11:00 hrs</ion-option>
        <ion-option value="jornada_p45">11:15 hrs</ion-option>
        <ion-option value="jornada_p46">11:30 hrs</ion-option>
        <ion-option value="jornada_p47">11:45 hrs</ion-option>
        <ion-option value="jornada_p48">12:00 hrs</ion-option>
        <ion-option value="jornada_p49">12:15 hrs</ion-option>
        <ion-option value="jornada_p50">12:30 hrs</ion-option>
        <ion-option value="jornada_p51">12:45 hrs</ion-option>
        <ion-option value="jornada_p52">13:00 hrs</ion-option>
        <ion-option value="jornada_p53">13:15 hrs</ion-option>
        <ion-option value="jornada_p54">13:30 hrs</ion-option>
        <ion-option value="jornada_p55">13:45 hrs</ion-option>
        <ion-option value="jornada_p56">14:00 hrs</ion-option>
        <ion-option value="jornada_p57">14:15 hrs</ion-option>
        <ion-option value="jornada_p58">14:30 hrs</ion-option>
        <ion-option value="jornada_p59">14:45 hrs</ion-option>

        <ion-option value="jornada_p60">15:00 hrs</ion-option>
        <ion-option value="jornada_p61">15:15 hrs</ion-option>
        <ion-option value="jornada_p62">15:30 hrs</ion-option>
        <ion-option value="jornada_p63">15:45 hrs</ion-option>
        <ion-option value="jornada_p64">16:00 hrs</ion-option>
        <ion-option value="jornada_p65">16:15 hrs</ion-option>
        <ion-option value="jornada_p66">16:30 hrs</ion-option>
        <ion-option value="jornada_p67">16:45 hrs</ion-option>
        <ion-option value="jornada_p68">17:00 hrs</ion-option>
        <ion-option value="jornada_p69">17:15 hrs</ion-option>
        <ion-option value="jornada_p70">17:30 hrs</ion-option>
        <ion-option value="jornada_p71">17:45 hrs</ion-option>
        <ion-option value="jornada_p72">18:00 hrs</ion-option>
        <ion-option value="jornada_p73">18:15 hrs</ion-option>
        <ion-option value="jornada_p74">18:30 hrs</ion-option>
        <ion-option value="jornada_p75">18:45 hrs</ion-option>
        <ion-option value="jornada_p76">19:00 hrs</ion-option>
        <ion-option value="jornada_p77">19:15 hrs</ion-option>
        <ion-option value="jornada_p78">19:30 hrs</ion-option>
        <ion-option value="jornada_p79">19:45 hrs</ion-option>

        <ion-option value="jornada_p80">20:00 hrs</ion-option>
        <ion-option value="jornada_p81">20:15 hrs</ion-option>
        <ion-option value="jornada_p82">20:30 hrs</ion-option>
        <ion-option value="jornada_p83">20:45 hrs</ion-option>
        <ion-option value="jornada_p84">21:00 hrs</ion-option>
        <ion-option value="jornada_p85">21:15 hrs</ion-option>
        <ion-option value="jornada_p86">21:30 hrs</ion-option>
        <ion-option value="jornada_p87">21:45 hrs</ion-option>
        <ion-option value="jornada_p88">22:00 hrs</ion-option>
        <ion-option value="jornada_p89">22:15 hrs</ion-option>
        <ion-option value="jornada_p90">22:30 hrs</ion-option>
        <ion-option value="jornada_p91">22:45 hrs</ion-option>
        <ion-option value="jornada_p92">23:00 hrs</ion-option>
        <ion-option value="jornada_p93">23:15 hrs</ion-option>
        <ion-option value="jornada_p94">23:30 hrs</ion-option>
        <ion-option value="jornada_p95">23:45 hrs</ion-option>
      </ion-select>
    </ion-item>

  </form>

  <div class="calculo-content">

  <div class="animated fadeIn" *ngIf="'jornada_p00' == jornadas">
  		<h2>Apres 00:00</h2><h3>Corte</h3>
  		<p>Simples: 09:38</p><p>Composta: 12:38</p><p>Revez: 18:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p01' == jornadas">
  		<h2>Apres 00:15</h2><h3>Corte</h3>
      <p>Simples: 09:55</p><p>Composta: 12:55</p><p>Revez: 18:45</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p02' == jornadas">
  		<h2>Apres 00:30</h2><h3>Corte</h3>
  		<p>Simples: 10:12</p><p>Composta: 13:12</p><p>Revez: 19:00</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p03' == jornadas">
  		<h2>Apres 00:45</h2><h3>Corte</h3>
  		<p>Simples: 10:30</p><p>Composta: 13:30</p><p>Revez: 19:15</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p04' == jornadas">
  		<h2>Apres 01:00</h2><h3>Corte</h3>
  		<p>Simples: 10:47</p><p>Composta: 13:47</p><p>Revez: 19:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p05' == jornadas">
  		<h2>Apres 01:15</h2><h3>Corte</h3>
  		<p>Simples: 11:04</p><p>Composta: 14:04</p><p>Revez: 19:45</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p06' == jornadas">
  		<h2>Apres 01:30</h2><h3>Corte</h3>
  		<p>Simples: 11:21</p><p>Composta: 14:21</p><p>Revez: 20:00</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p07' == jornadas">
  		<h2>Apres 01:45</h2><h3>Corte</h3>
  		<p>Simples: 11:38</p><p>Composta: 14:38</p><p>Revez: 20:15</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p08' == jornadas">
  		<h2>Apres 02:00</h2><h3>Corte</h3>
  		<p>Simples: 11:55</p><p>Composta: 14:55</p><p>Revez: 20:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p09' == jornadas">
  		<h2>Apres 02:15</h2><h3>Corte</h3>
  		<p>Simples: 12:12</p><p>Composta: 15:12</p><p>Revez: 20:45</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p10' == jornadas">
  		<h2>Apres 02:30</h2><h3>Corte</h3>
  		<p>Simples: 12:30</p><p>Composta: 15:30</p><p>Revez: 21:00</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p11' == jornadas">
  		<h2>Apres 02:45</h2><h3>Corte</h3>
  		<p>Simples: 12:47</p><p>Composta: 15:47</p><p>Revez: 21:15</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p12' == jornadas">
  		<h2>Apres 03:00</h2><h3>Corte</h3>
  		<p>Simples: 13:04</p><p>Composta: 16:04</p><p>Revez: 21:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p13' == jornadas">
  		<h2>Apres 03:15</h2><h3>Corte</h3>
  		<p>Simples: 13:21</p><p>Composta: 16:21</p><p>Revez: 21:45</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p14' == jornadas">
  		<h2>Apres 03:30</h2><h3>Corte</h3>
  		<p>Simples: 13:38</p><p>Composta: 16:38</p><p>Revez: 22:00</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p15' == jornadas">
  		<h2>Apres 03:45</h2><h3>Corte</h3>
  		<p>Simples: 13:55</p><p>Composta: 16:55</p><p>Revez: 22:15</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p16' == jornadas">
  		<h2>Apres 04:00</h2><h3>Corte</h3>
  		<p>Simples: 14:12</p><p>Composta: 17:12</p><p>Revez: 22:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p17' == jornadas">
  		<h2>Apres 04:15</h2><h3>Corte</h3>
  		<p>Simples: 14:30</p><p>Composta: 17:30</p><p>Revez: 22:45</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p18' == jornadas">
  		<h2>Apres 04:30</h2><h3>Corte</h3>
  		<p>Simples: 14:47</p><p>Composta: 17:45</p><p>Revez: 23:00</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p19' == jornadas">
  		<h2>Apres 04:45</h2><h3>Corte</h3>
  		<p>Simples: 15:04</p><p>Composta: 18:00</p><p>Revez: 23:15</p>
  </div>
<div class="animated fadeIn" *ngIf="'jornada_p20' == jornadas">
  		<h2>Apres 05:00</h2><h3>Corte</h3>
  		<p>Simples: 15:21</p><p>Composta: 18:15</p><p>Revez: 23:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p21' == jornadas">
  		<h2>Apres 05:15</h2><h3>Corte</h3>
  		<p>Simples: 15:38</p><p>Composta: 18:30</p><p>Revez: 23:45</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p22' == jornadas">
  		<h2>Apres 05:30</h2><h3>Corte</h3>
  		<p>Simples: 15:55</p><p>Composta: 18:45</p><p>Revez: 00:00</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p23' == jornadas">
  		<h2>Apres 05:45</h2><h3>Corte</h3>
  		<p>Simples: 16:12</p><p>Composta: 19:00</p><p>Revez: 00:15</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p24' == jornadas">
  		<h2>Apres 06:00</h2><h3>Corte</h3>
  		<p>Simples: 16:30</p><p>Composta: 19:15</p><p>Revez: 00:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p25' == jornadas">
  		<h2>Apres 06:15</h2><h3>Corte</h3>
  		<p>Simples: 16:45</p><p>Composta: 19:28</p><p>Revez: 00:43</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p26' == jornadas">
  		<h2>Apres 06:30</h2><h3>Corte</h3>
  		<p>Simples: 17:00</p><p>Composta: 19:41</p><p>Revez: 00:56</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p27' == jornadas">
  		<h2>Apres 06:45</h2><h3>Corte</h3>
  		<p>Simples: 17:15</p><p>Composta: 19:54</p><p>Revez: 01:09</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p28' == jornadas">
  		<h2>Apres 07:00</h2><h3>Corte</h3>
  		<p>Simples: 17:30</p><p>Composta: 20:07</p><p>Revez: 01:22</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p29' == jornadas">
  		<h2>Apres 07:15</h2><h3>Corte</h3>
  		<p>Simples: 17:43</p><p>Composta: 20:20</p><p>Revez: 01:35</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p30' == jornadas">
  		<h2>Apres 07:30</h2><h3>Corte</h3>
  		<p>Simples: 17:56</p><p>Composta: 20:33</p><p>Revez: 01:48</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p31' == jornadas">
  		<h2>Apres 07:45</h2><h3>Corte</h3>
  		<p>Simples: 18:09</p><p>Composta: 20:46</p><p>Revez: 02:01</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p32' == jornadas">
  		<h2>Apres 08:00</h2><h3>Corte</h3>
  		<p>Simples: 18:22</p><p>Composta: 21:00</p><p>Revez: 02:15</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p33' == jornadas">
  		<h2>Apres 08:15</h2><h3>Corte</h3>
  		<p>Simples: 18:35</p><p>Composta: 21:13</p><p>Revez: 02:28</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p34' == jornadas">
  		<h2>Apres 08:30</h2><h3>Corte</h3>
  		<p>Simples: 18:48</p><p>Composta: 21:26</p><p>Revez: 02:41</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p35' == jornadas">
  		<h2>Apres 08:45</h2><h3>Corte</h3>
  		<p>Simples: 19:01</p><p>Composta: 21:39</p><p>Revez: 02:54</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p36' == jornadas">
  		<h2>Apres 09:00</h2><h3>Corte</h3>
  		<p>Simples: 19:15</p><p>Composta: 21:52</p><p>Revez: 03:07</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p37' == jornadas">
  		<h2>Apres 09:15</h2><h3>Corte</h3>
  		<p>Simples: 19:28</p><p>Composta: 22:05</p><p>Revez: 03:20</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p38' == jornadas">
  		<h2>Apres 09:30</h2><h3>Corte</h3>
  		<p>Simples: 19:41</p><p>Composta: 22:18</p><p>Revez: 03:33</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p39' == jornadas">
  		<h2>Apres 09:45</h2><h3>Corte</h3>
  		<p>Simples: 19:54</p><p>Composta: 22:31</p><p>Revez: 03:46</p>
  </div>



  <div class="animated fadeIn" *ngIf="'jornada_p40' == jornadas">
  		<h2>Apres 10:00</h2><h3>Corte</h3>
  		<p>Simples: 20:07</p><p>Composta: 22:45</p><p>Revez: 04:00</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p41' == jornadas">
  		<h2>Apres 10:15</h2><h3>Corte</h3>
  		<p>Simples: 20:20</p><p>Composta: 22:58</p><p>Revez: 04:13</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p42' == jornadas">
  		<h2>Apres 10:30</h2><h3>Corte</h3>
  		<p>Simples: 20:33</p><p>Composta: 23:11</p><p>Revez: 04:26</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p43' == jornadas">
  		<h2>Apres 10:45</h2><h3>Corte</h3>
  		<p>Simples: 20:46</p><p>Composta: 23:24</p><p>Revez: 04:39</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p44' == jornadas">
  		<h2>Apres 11:00</h2><h3>Corte</h3>
  		<p>Simples: 21:00</p><p>Composta: 23:37</p><p>Revez: 04:52</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p45' == jornadas">
  		<h2>Apres 11:15</h2><h3>Corte</h3>
  		<p>Simples: 21:13</p><p>Composta: 23:50</p><p>Revez: 05:05</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p46' == jornadas">
  		<h2>Apres 11:30</h2><h3>Corte</h3>
  		<p>Simples: 21:26</p><p>Composta: 00:03</p><p>Revez: 05:18</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p47' == jornadas">
  		<h2>Apres 11:45</h2><h3>Corte</h3>
  		<p>Simples: 21:39</p><p>Composta: 00:16</p><p>Revez: 05:32</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p48' == jornadas">
  		<h2>Apres 12:00</h2><h3>Corte</h3>
  		<p>Simples: 21:52</p><p>Composta: 00:30</p><p>Revez: 05:47</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p49' == jornadas">
  		<h2>Apres 12:15</h2><h3>Corte</h3>
  		<p>Simples: 22:05</p><p>Composta: 00:43</p><p>Revez: 06:02</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p50' == jornadas">
  		<h2>Apres 12:30</h2><h3>Corte</h3>
  		<p>Simples: 22:18</p><p>Composta: 00:56</p><p>Revez: 06:17</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p51' == jornadas">
  		<h2>Apres 12:45</h2><h3>Corte</h3>
  		<p>Simples: 22:31</p><p>Composta: 01:09</p><p>Revez: 06:32</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p52' == jornadas">
  		<h2>Apres 13:00</h2><h3>Corte</h3>
  		<p>Simples: 22:45</p><p>Composta: 01:22</p><p>Revez: 06:47</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p53' == jornadas">
  		<h2>Apres 13:15</h2><h3>Corte</h3>
  		<p>Simples: 22:58</p><p>Composta: 01:35</p><p>Revez: 07:02</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p54' == jornadas">
  		<h2>Apres 13:30</h2><h3>Corte</h3>
  		<p>Simples: 23:11</p><p>Composta: 01:48</p><p>Revez: 07:17</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p55' == jornadas">
  		<h2>Apres 13:45</h2><h3>Corte</h3>
  		<p>Simples: 23:24</p><p>Composta: 02:01</p><p>Revez: 07:32</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p56' == jornadas">
  		<h2>Apres 14:00</h2><h3>Corte</h3>
  		<p>Simples: 23:37</p><p>Composta: 02:15</p><p>Revez: 07:47</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p57' == jornadas">
  		<h2>Apres 14:15</h2><h3>Corte</h3>
  		<p>Simples: 23:50</p><p>Composta: 02:28</p><p>Revez: 08:02</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p58' == jornadas">
  		<h2>Apres 14:30</h2><h3>Corte</h3>
  		<p>Simples: 00:03</p><p>Composta: 02:41</p><p>Revez: 08:17</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p59' == jornadas">
  		<h2>Apres 14:45</h2><h3>Corte</h3>
  		<p>Simples: 00:16</p><p>Composta: 02:54</p><p>Revez: 08:32</p>
  </div>


  <div class="animated fadeIn" *ngIf="'jornada_p60' == jornadas">
  		<h2>Apres 15:00</h2><h3>Corte</h3>
  		<p>Simples: 00:30</p><p>Composta: 03:07</p><p>Revez: 08:47</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p61' == jornadas">
  		<h2>Apres 15:15</h2><h3>Corte</h3>
  		<p>Simples: 00:43</p><p>Composta: 03:20</p><p>Revez: 09:02</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p62' == jornadas">
  		<h2>Apres 15:30</h2><h3>Corte</h3>
  		<p>Simples: 00:56</p><p>Composta: 03:33</p><p>Revez: 09:17</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p63' == jornadas">
  		<h2>Apres 15:45</h2><h3>Corte</h3>
  		<p>Simples: 01:09</p><p>Composta: 03:46</p><p>Revez: 09:32</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p64' == jornadas">
  		<h2>Apres 16:00</h2><h3>Corte</h3>
  		<p>Simples: 01:22</p><p>Composta: 04:00</p><p>Revez: 09:47</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p65' == jornadas">
  		<h2>Apres 16:15</h2><h3>Corte</h3>
  		<p>Simples: 01:35</p><p>Composta: 04:13</p><p>Revez: 10:02</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p66' == jornadas">
  		<h2>Apres 16:30</h2><h3>Corte</h3>
  		<p>Simples: 01:48</p><p>Composta: 04:26</p><p>Revez: 10:17</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p67' == jornadas">
  		<h2>Apres 16:45</h2><h3>Corte</h3>
  		<p>Simples: 02:01</p><p>Composta: 04:39</p><p>Revez: 10:32</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p68' == jornadas">
  		<h2>Apres 17:00</h2><h3>Corte</h3>
  		<p>Simples: 02:15</p><p>Composta: 04:52</p><p>Revez: 10:47</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p69' == jornadas">
  		<h2>Apres 17:15</h2><h3>Corte</h3>
  		<p>Simples: 02:28</p><p>Composta: 05:05</p><p>Revez: 11:02</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p70' == jornadas">
  		<h2>Apres 17:30</h2><h3>Corte</h3>
  		<p>Simples: 02:41</p><p>Composta: 05:18</p><p>Revez: 11:17</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p71' == jornadas">
  		<h2>Apres 17:45</h2><h3>Corte</h3>
  		<p>Simples: 02:54</p><p>Composta: 05:32</p><p>Revez: 11:32</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p72' == jornadas">
  		<h2>Apres 18:00</h2><h3>Corte</h3>
  		<p>Simples: 03:07</p><p>Composta: 05:47</p><p>Revez: 11:47</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p73' == jornadas">
  		<h2>Apres 18:15</h2><h3>Corte</h3>
  		<p>Simples: 03:22</p><p>Composta: 06:04</p><p>Revez: 12:04</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p74' == jornadas">
  		<h2>Apres 18:30</h2><h3>Corte</h3>
  		<p>Simples: 03:37</p><p>Composta: 06:21</p><p>Revez: 12:21</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p75' == jornadas">
  		<h2>Apres 18:45</h2><h3>Corte</h3>
  		<p>Simples: 03:52</p><p>Composta: 06:38</p><p>Revez: 12:38</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p76' == jornadas">
  		<h2>Apres 19:00</h2><h3>Corte</h3>
  		<p>Simples: 04:07</p><p>Composta: 06:55</p><p>Revez: 12:55</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p77' == jornadas">
  		<h2>Apres 19:15</h2><h3>Corte</h3>
  		<p>Simples: 04:22</p><p>Composta: 07:12</p><p>Revez: 13:12</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p78' == jornadas">
  		<h2>Apres 19:30</h2><h3>Corte</h3>
  		<p>Simples: 04:37</p><p>Composta: 07:30</p><p>Revez: 13:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p79' == jornadas">
  		<h2>Apres 19:45</h2><h3>Corte</h3>
  		<p>Simples: 04:52</p><p>Composta: 07:47</p><p>Revez: 13:47</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p80' == jornadas">
  		<h2>Apres 20:00</h2><h3>Corte</h3>
  		<p>Simples: 05:07</p><p>Composta: 08:04</p><p>Revez: 14:04</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p81' == jornadas">
  		<h2>Apres 20:15</h2><h3>Corte</h3>
  		<p>Simples: 05:22</p><p>Composta: 08:21</p><p>Revez: 14:21</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p82' == jornadas">
  		<h2>Apres 20:30</h2><h3>Corte</h3>
  		<p>Simples: 05:38</p><p>Composta: 08:38</p><p>Revez: 14:38</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p83' == jornadas">
  		<h2>Apres 20:45</h2><h3>Corte</h3>
  		<p>Simples: 05:55</p><p>Composta: 08:55</p><p>Revez: 14:55</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p84' == jornadas">
  		<h2>Apres 21:00</h2><h3>Corte</h3>
  		<p>Simples: 06:12</p><p>Composta: 09:12</p><p>Revez: 15:12</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p85' == jornadas">
  		<h2>Apres 21:15</h2><h3>Corte</h3>
  		<p>Simples: 06:30</p><p>Composta: 09:30</p><p>Revez: 15:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p86' == jornadas">
  		<h2>Apres 21:30</h2><h3>Corte</h3>
  		<p>Simples: 06:47</p><p>Composta: 09:47</p><p>Revez: 15:47</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p87' == jornadas">
  		<h2>Apres 21:45</h2><h3>Corte</h3>
  		<p>Simples: 07:04</p><p>Composta: 10:04</p><p>Revez: 16:04</p>
  </div>

  <div class="animated fadeIn" *ngIf="'jornada_p88' == jornadas">
  		<h2>Apres 22:00</h2><h3>Corte</h3>
  		<p>Simples: 07:21</p><p>Composta: 10:21</p><p>Revez: 16:21</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p89' == jornadas">
  		<h2>Apres 22:15</h2><h3>Corte</h3>
  		<p>Simples: 07:38</p><p>Composta: 10:38</p><p>Revez: 16:38</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p90' == jornadas">
  		<h2>Apres 22:30</h2><h3>Corte</h3>
  		<p>Simples: 07:55</p><p>Composta: 10:55</p><p>Revez: 16:55</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p91' == jornadas">
  		<h2>Apres 22:45</h2><h3>Corte</h3>
  		<p>Simples: 08:12</p><p>Composta: 11:12</p><p>Revez: 17:12</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p92' == jornadas">
  		<h2>Apres 23:00</h2><h3>Corte</h3>
  		<p>Simples: 08:30</p><p>Composta: 11:30</p><p>Revez: 17:30</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p93' == jornadas">
  		<h2>Apres 23:15</h2><h3>Corte</h3>
  		<p>Simples: 08:47</p><p>Composta: 11:47</p><p>Revez: 17:45</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p94' == jornadas">
  		<h2>Apres 23:30</h2><h3>Corte</h3>
  		<p>Simples: 09:04</p><p>Composta: 12:04</p><p>Revez: 18:00</p>
  </div>
  <div class="animated fadeIn" *ngIf="'jornada_p95' == jornadas">
  		<h2>Apres 23:45</h2><h3>Corte</h3>
  		<p>Simples: 09:21</p><p>Composta: 12:21</p><p>Revez: 18:15</p>

  </div>

  </div>



</ion-content>
