<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Passe Livre</h2>
  </ion-item>

  <ion-grid class="passe-livre" no-padding>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreAvianca()">
          <img alt="" src="./assets/imgs/companias/avianca.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreGol()">
          <img alt="" src="./assets/imgs/companias/gol.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreAzul()">
          <img alt="" src="./assets/imgs/companias/azul.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreLatam()">
          <img alt="" src="./assets/imgs/companias/latam.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivrePassaredo()">
          <img alt="" src="./assets/imgs/companias/passaredo.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreRio()">
          <img alt="" src="./assets/imgs/companias/rio.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreSideral()">
          <img alt="" src="./assets/imgs/companias/sideral.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreLatamCargo()">
          <img alt="" src="./assets/imgs/companias/latam-cargo.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreColt()">
          <img alt="" src="./assets/imgs/companias/colt.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreTotal()">
          <img alt="" src="./assets/imgs/companias/total.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreModern()">
          <img alt="" src="./assets/imgs/companias/modern.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="item-companhias">
        <button no-padding (click)="goToPasseLivreMap()">
          <img alt="" src="./assets/imgs/companias/map.png">
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
