// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/opensans/400/opensans-regular-webfont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: semi-bold;
  font-weight: 600;
  src: url('../assets/fonts/opensans/600/opensans-semibold-webfont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../assets/fonts/opensans/700/opensans-bold-webfont.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: extra-bold;
  font-weight: 900;
  src: url('../assets/fonts/opensans/900/opensans-extrabold-webfont.ttf');
}

*:not(.icon) {
  font-family: "Open Sans" !important;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  white-space: normal;
}

.small {
  font-size: 11px;
}

p.primary-color {
  color: #0165b1;
}

h3 {
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  color: #0165b1;
  font-size: 16px;
}

.toolbar-title {
  height: inherit;
  img {
    width: auto;
    max-width: 117px;
    height: inherit;
  }
}

.toolbar {
  .toolbar-title {
    margin-right: 36px;
  }
  ion-searchbar {
    padding: 0px;
    margin: 0px !important;
    .searchbar-input-container {
      .searchbar-input {
        border: none;
        border-bottom: 1px solid color($colors, primary, base);
        box-shadow: none;
        background: #FFF;
        padding: 6px 16px !important;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        border-radius: 0px;
      }
      .searchbar-search-icon {
        display: none;
        width: 0;
        height: 0;
      }
      .searchbar-clear-icon {
        display: none !important;
      }
    }
  }
}


.fab:not(.fab-share){
  width: 26px;
  height: 26px;
  margin: 8px 0 8px 8px !important;
  background: #0165b1;
  box-shadow: none;
  .icon {
    font-size: 25px;
  }
}
.fab-share {
  background: #0165b1;
  color: #FFF;
}

.share-button {
  padding: 15px;
  font-size: 12px;
  border-radius: 5px;
}

[padding] h1,[padding] h2,[padding] h3 {
  &:first-child {
    margin: 0px;
  }
}

ion-app [padding] .scroll-content {
  padding-top: 0px !important;
}

.toolbar {
  padding-top: 0px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 0px;

  button.back-button {
    padding: 0px;
    margin: 0px;
  }

  button.item-button {
    background: none;
    box-shadow: none;
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
  }
}

.button-md:hover:not(.disable-hover) {
  background-color: #FFF;
}

.btn-entrar {
  border-radius: 5px;
  padding: 8px 12px;
  background: none;
  border: 1px solid #666;
}

ion-label.label {
  margin: 0px;
}

ion-item.item,
.item.item-block .item-inner {
  padding: 0px;
  .label {
    font-size: 14px;
  }
}

ion-content .item-block .item-inner {
  padding: 0 0 0 0;
}

ion-icon.back-button-icon {
  padding: 0px;
}

.ion-md-arrow-back:before {
  margin-right: 28px;
}

.placeholder-loading-10 {
  width: 10% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.placeholder-loading-20 {
  width: 20% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.placeholder-loading-30 {
  width: 30% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.placeholder-loading-40 {
  width: 40% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.placeholder-loading-50 {
  width: 50% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.placeholder-loading-60 {
  width: 60% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.placeholder-loading-70 {
  width: 70% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.placeholder-loading-80 {
  width: 80% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.placeholder-loading-90 {
  width: 90% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.placeholder-loading-100 {
  width: 100% !important;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;

}

.placeholder-animate-loading {
  animation: placeholder-loading 1s infinite ease-in-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes placeholder-loading {
  0%   {background-color: rgba(165, 165, 165, 0.1);}
  50%  {background-color: rgba(165, 165, 165, 0.2);}
  100% {background-color: rgba(165, 165, 165, 0.1);}
}

/* Standard syntax */
@keyframes placeholder-loading {
  0%   {background-color: rgba(165, 165, 165, 0.1);}
  50%  {background-color: rgba(165, 165, 165, 0.2);}
  100% {background-color: rgba(165, 165, 165, 0.1);}
}

.has-refresher > .scroll-content {
  border: none;
}

.button-md:hover:not(.disable-hover) {
  background-color: #FFF;
}

.toolbar .searchbar .searchbar-input {
  background: #FFF;
  border:1px solid #d2d2d2;
  height: 3rem;
}

.searchbar-md .searchbar-input {
  box-shadow: none;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  padding: 0 28px;
}

.searchbar-md .searchbar-search-icon {
  left: 8px;
  top: 8px;
  position: absolute;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 15px;
}

.item.item-block .item-inner {
  padding-right: 0;
}

.btn-search.item-button {
  background: none;
  transition: none;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
  img {
    width: 20px;
    height: 20px;
  }
}

.btn-search.item-button.btn-search-active.item-left {
  margin-right: 0;
}

.btn-search.item-button {
  padding: 0px;
  margin: 9px 8px 9px 0px;
}

.btn-search.item-button.item-right {
  padding: 0px;
  margin: 9px 0px 9px 8px;
}

.searchbar.btn-search-active {
  margin: 0;
  padding-right: 0;
}

.titles {
  h2 {
    font-weight: 700;
    margin-bottom: 0 !important;
  }
  .item-inner {
    padding: 0 !important;
  }
  .fab {
    width: 26px;
    height: 26px;
    margin: 8px 0 8px 8px;
    background: #0165b1;
    box-shadow: none;
    .icon {
      font-size: 25px;
    }
  }
}

.box-alert {
  padding: 15px 15px !important;
  background: #fdffea;
  border: 1px solid #d8d98f;
  color: #d8d98f;
  border-radius: 5px;
  font-weight: bold;
}

.box-error {
  padding: 15px 15px !important;
  margin: 10px 0 !important;
  background: #ffeaea;
  border: 1px solid #d98f8f;
  color: #d98f8f;
  border-radius: 5px;
  font-weight: bold;
}

//makes header bigger site wide on ionic serve
ion-header.header {
  height: 48px !important;
}
//on Android
ion-header.header-md {
  height: 48px !important;
}
//on iOS
ion-header.header.header-ios {
  height: 48px !important;
}

ion-content > .scroll-content {
  margin-top: 48px !important;
  padding-top: 10px !important;
}

.toolbar, .toolbar.toolbar-md, .toolbar-ios {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 48px !important;
  min-height: 48px !important;
}

.toolbar-ios ion-title {
  padding: 0px !important;
}

.toolbar-content {
  .label {
    margin: 0px 8px 0px 0;
  }
}

.toolbar-title {
  text-align: center;
}

.only-back-button-and-title {
  img {
    margin-left: -37px;
  }
}

.form-template {
  margin-top: 10px;
  .datetime {
    border: 1px solid #CCC;
    width: 100%;
    padding-left: 5px;
    .datetime-text {
      font-size: 14px;
    }
  }
  .label-input {
    margin-top: 6px;
    margin-bottom: 4px;
  }
  .combo-box {
    max-width: 100%;
    width: 100%;
    border: 1px solid #CCC;
    background: #ededed;
    border-radius: 5px;
    .select-text {

    }
    .select-text {
      font-size: 12px;
    }
    .select-icon-inner {
        left: -8px;
        top: 50%;
        margin-top: -2px;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 8px solid;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        color: #999;
        pointer-events: none;
    }
  }
  .item-inner {
    border: 0;
    border-bottom: 0 !important;
    .text-input {
      border: 1px solid #CCC;
      margin: 0;
      width: 100%;
      min-height: 39px;
      padding: 5px;
      font-size: 14px;
    }
  }
  .fieldset-checkbox {
    margin-bottom: 15px;
  }
  .item-radio {
    .label {
      color: #0165b1;
    }
  }
  .item-textarea {
    border: 0;
    margin-bottom: 15px;
    .item-inner {
      border-bottom: 0 !important;
    }
    textarea {
      height: 130px;
      margin: 0;
      width: 100%;
      padding: 8px;
      border: 1px solid #c8c7cc;
      font-size: 14px;
    }
  }
  .item-type-1 {
    .item-inner {
      border-bottom: 1px solid #ededed;
    }
  }
  .item-type-input {
    .item-inner {
      border-bottom: 1px solid #ededed;
    }
  }
  .item-type-no-border {
    .item-inner {
      border-bottom: 0;
    }
  }
  .item-upload-file {
    margin-bottom: 10px;
    #file-input {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 999;
    }
    .item-file-btn {
      margin: 0;
    }
    button {
      padding: 20px;
      background: #999;
    }
    button.green {
      background: green;
    }
    .text-input {
      font-size: 12px;
    }
  }
}

.services {
 .row {
   margin-left: -10px;
   margin-right: -10px;
   .col {
      margin: 5px;
      box-shadow: 0 5px 8px #ededed;
      border: 1px solid #ededed;
      max-width: calc(1% * (100/3) - 10px);
      button {
        background: none;
        width: 100%;
        .img-loaded {
          width: 100%;
          display: contents;
          background: none;
          img {
            padding: 5px;
          }
        }
      }
    }
    .item-companias {
      height: 90px;
      .img-loaded {
        height: 80px;
        padding-top: 6% !important;
        img {
          width: 60%;
        }
      }
    }
  }
}

.passe-livre {
 .row {
   margin-left: -10px;
   margin-right: -10px;
   .col {
      margin: 5px;
      box-shadow: 0 5px 8px #ededed;
      border: 1px solid #ededed;
      button {
        background: none;
        width: 100%;
        .img-loaded {
          width: 100%;
          display: contents;
          background: none;
          img {
            padding: 5px;
          }
        }
      }
    }
    .item-companias {
      height: 90px;
      .img-loaded {
        height: 80px;
        padding-top: 6% !important;
        img {
          width: 60%;
        }
      }
    }
  }
}

@media(min-width:413px) and (max-width:960px){

}

// IPAD
@media (min-width:767px) {
  .form-template {
    .item-upload-file {
      .text-input {
        // font-size: 11px;
      }
    }
    .combo-box {
      .select-text {
        // font-size: 14px;
      }
    }
  }
}

// Iphone 5 ou menor
@media (max-width:321px) {
  .services,
  .passe-livre {
    .row {
      .item-companias {
        .img-loaded {
          padding-top: 9% !important;
        }
      }
    }
  }
  .form-template {
    .item-upload-file {
      .text-input {
        font-size: 11px;
      }
    }
    .combo-box {
      .select-text {
        font-size: 14px;
      }
    }
  }
}


a.check-box-link {
  z-index: 1;
  position: relative;
}
