page-lista-salario {
	.btn-calcular {
    width: 50px;
    height: 50px;
    display: block;
    .button-inner {
      font-size: 40px;
    }
  }
  .fab:not(.fab-share) {
    width: 46px;
    height: 46px;
    margin: 8px 0 8px 8px !important;
    background: #0165b1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
