<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Cálculo de Salário</h2>
  </ion-item>

  <list-salario *ngFor="let wageCalculation of wageCalculationList"
		[wageCalculation]=wageCalculation>
	</list-salario>

  <p *ngIf="dataHasBeenLoaded && (!wageCalculationList || wageCalculationList.length <= 0)" class="box-alert">Nenhum registro foi encontrado.</p>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom right large>
    <button class="btn-calcular" (click)="goToNewWageCalculation()" large ion-fab>+</button>
  </ion-fab>

</ion-content>
