<ion-header no-border>
    <ion-navbar color="white">
      <ion-item no-lines color="white">
        
        <ion-searchbar
          #searchbar
          item-right
          no-margin
          showCancelButton="false"
          [ngClass]="{'btn-search-active' : isSearchBarOpenned}"
          *ngIf="isSearchBarOpenned"
          [(ngModel)]="searchInput"
          placeholder="Buscar"
          [showCancelButton]="shouldShowCancel"
          (search)="loadNewsControl()">
        </ion-searchbar>

        <ion-title>
          <img *ngIf="!isSearchBarOpenned" src="./assets/imgs/sna.png">
        </ion-title>

        <button width="50" [ngClass]="{'btn-search-active' : isSearchBarOpenned}" item-right ion-button (click)="onButtonClick()">
          <img *ngIf="!isSearchBarOpenned" alt="" src="./assets/imgs/servicos/search@2x.png">
          <img *ngIf="isSearchBarOpenned" alt="" src="./assets/imgs/servicos/close.png">
        </button>
      </ion-item>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Notícias</h2>
  </ion-item>

	<news-item *ngFor="let article of articleList"
    [category]=[article.category]
    [createdAt]=[article.createdDate]
    [title]=[article.title]
    [description]=[article.content]
    [id]=[article.id]
    [hasSocialShare]=[true]>
  </news-item>

  <search-news-item *ngFor="let article of searchedArticleList"
    [id]=[article.id]
    [category]=[article.category]
    [createdAt]=[article.createdDate]
    [title]=[article.title]
    [description]=[article.content]
    [hasSocialShare]=[true]>
  </search-news-item>

  <p *ngIf="articleList.length == 0 && searchedArticleList.length == 0">Nenhum resultado foi encontrado.</p>

  <ion-infinite-scroll *ngIf="!searchInput" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
