<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Novo Cálculo de Salário</h2>
  </ion-item>

  <form class="form-template" (ngSubmit)="doRequest()" [formGroup]="requestForm">

    <ion-list>

      <ion-item>
        <ion-label>Deseja incluir no logbook?</ion-label>
        <ion-checkbox formControlName="logbookIncluded"></ion-checkbox>
      </ion-item>

    </ion-list>

    <ion-list radio-group formControlName="rangeType">
    	<h4 item-left>Qual o tipo do arquivo?</h4>
		  <ion-item>
		    <ion-label>Escala Planejada</ion-label>
		    <ion-radio value="Planejada" checked></ion-radio>
		  </ion-item>
		  <ion-item>
		    <ion-label>Escala Executada</ion-label>
		    <ion-radio value="Executada"></ion-radio>
		  </ion-item>
		</ion-list>

    <ion-item class="item-type-1 item-type-no-border">
      <ion-label><p class="doc-file-title">Anexar documento: <span>{{ fileName }}</span></p></ion-label>
    </ion-item>

    <ion-item class="item-upload-file item-type-1 item-type-no-border">

       <ion-item class="item-file-btn" item-left>

         <input type="file" name="file" (change)="fileChange($event)" id="file-input" style="opacity: 0" #fileInp />

         <button class="btn-add-file" [ngClass]="{'green' : (labelFile == 'Alterar') }"
          ion-button (click)="addFileNextStep()" middle>{{ labelFile }}</button>

       </ion-item>

    </ion-item>

    <div class="box-error" *ngIf="hasFormError">
      <p no-padding no-margin *ngIf="hasFormError">Por favor, selecione o tipo de solicitação e o arquivo desejado.</p>
    </div>

    <button ion-button type="submit" block>Enviar</button>
  </form>

</ion-content>
