<ion-content padding class="animated fadeIn update-profile auth-page">
  <div class="update-profile-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <button ion-fab item-right no-padding color="dark" (click)="closeModal()"><ion-icon name="close"></ion-icon></button>

      <ion-title>
        <img *ngIf="!buttonClicked" src="./assets/imgs/sna.png">
      </ion-title>
    </div>

    <p class="box-alert">Para acessar este recurso você precisa informar e confirmar os dados abaixo.</p>

    <p class="box-error" no-padding no-margin *ngIf="hasFormError">Por favor, digite um código ANAC e um nome de Companhia Aérea válidos.</p>

    <!-- Update user profile form -->
    <form class="list-form" (ngSubmit)="doUpdate()" [formGroup]="profileForm">
      <ion-item>
        <ion-label floating>
          <ion-icon name="jet" item-start class="text-primary"></ion-icon>
          Código ANAC
        </ion-label>
        <ion-input type="text" name="anaccode" formControlName="anaccode" [class.error1]="!profileForm.controls.anaccode.valid && profileForm.controls.anaccode.dirty"></ion-input>
      </ion-item>

      <!-- <ion-item class="item-type-no-border">
        <ion-label>Selecione uma especialidade:</ion-label>
      </ion-item> -->
      <ion-item class="item-type-no-border">
      	<ion-label floating>
          <ion-icon name="briefcase" item-start class="text-primary"></ion-icon>
          Companhia Aérea
        </ion-label>
        <ion-select class="combo-box" formControlName="companhia" [class.error1]="!profileForm.controls.companhia.valid && profileForm.controls.companhia.dirty">
          <ion-option *ngFor="let airline of airlineList" value="{{ airline.id }}">{{ airline.name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="item-type-no-border">
        <ion-label floating>
          <ion-icon name="briefcase" item-start class="text-primary"></ion-icon>
          Cargo
        </ion-label>
        <ion-select class="combo-box" formControlName="cargo" [class.error1]="!profileForm.controls.cargo.valid && profileForm.controls.cargo.dirty">
          <ion-option *ngFor="let cargo of cargosList" value="{{ cargo.id }}">{{ cargo.name }}</ion-option>
        </ion-select>
      </ion-item>

      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="business" item-start class="text-primary"></ion-icon>
          Companhia Aérea
        </ion-label>
        <ion-input type="text" name="companhia" formControlName="companhia" [class.error1]="!profileForm.controls.companhia.valid && profileForm.controls.companhia.dirty"></ion-input>
      </ion-item> -->

      <div>
        <button type="submit" ion-button icon-start block class="btn-save" tappable>
          <ion-icon name="log-in"></ion-icon>
          CONFIRMAR
        </button>
      </div>

    </form>
  </div>
</ion-content>
