page-parcerias {
	h2 {
		color: #000000;
	}
  .radio-parcerias-category {
    max-width: 65%;
  }
	.filter-parcerias {
		margin-right: 0 !important;
		border: 1px solid #ccc;
		padding: 7px 10px;
		border-radius: 5px;
		background: #ededed;
		ion-icon {
			font-size: 1.8em;
		}
	}
	.combo-filter {
		margin-bottom: 20px;
	}
	.form-template .combo-box {
		padding: 8px !important;
	}
}
