<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content class="form-template" padding>
  <div class="title-select">
    <ion-item class="titles" no-lines no-padding>
      <ion-label><h2>Parcerias</h2></ion-label>
      <button class="filter-parcerias" item-end (click)="openChangeImageModal()"><ion-icon ios="ios-funnel" md="md-funnel"></ion-icon></button>
    </ion-item>
  </div>
  <div class="combo-filter" *ngIf="showFilter">
      <ion-item class="item-type-no-border">
        <ion-label>Selecione o estado:</ion-label>
      </ion-item>
      <ion-item class="item-type-no-border">
        <ion-select class="combo-box" [(ngModel)]="categoryId" disabled="{{ !stateList }}" (ionChange)="onStateSelectChange($event)">
          <ion-option *ngFor="let state of stateList" value="{{state.id}}">{{ state.title }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="item-type-no-border">
        <ion-label>Selecione o tipo:</ion-label>
      </ion-item>
      <ion-item class="item-type-no-border">
        <ion-select class="combo-box" [(ngModel)]="typeId" disabled="{{ !typeList }}" (ionChange)="onTypeSelectChange($event)">
          <ion-option *ngFor="let type of typeList" value="{{type.id}}">{{ type.title }}</ion-option>
        </ion-select>
      </ion-item>
  </div>

	<parceria-item *ngFor="let article of articleList"
    [id]=[article.id]
    [category]=[article.category]
    [createdAt]=[article.createdDate]
    [title]=[article.title]
    [description]=[article.content]
    [hasSocialShare]=[true]>
  </parceria-item>

  <p *ngIf="dataHasBeenLoaded && (!articleList || articleList.length <= 0)" class="box-alert">Nenhum resultado foi encontrado.</p>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
