log-book-list {
  .card-logbook {
    background: url("../assets/imgs/flight.png") 3px 35px no-repeat;
    background-size: 42px;

    &.placeholder-loading {
      background: none;
    }

    .title, .voo, .date, .horas, .nomes {
      line-height: 24px;
      min-height: 24px;

      &.placeholder-animate-loading {
        margin: 0px !important;
      }
    }

    .col {
      padding: 0;
      flex-basis: initial;
      p {
        width: 100%;
        display: inline-block;
        text-align: left;
        margin-bottom: 8px;
      }
      span {
        width: 100%;
        display: inline-block;
        font-size: 12px;
        margin-bottom: 8px;
        color: #0165b1;
        padding: 0px;
        text-align: right;
      }
      .title {
        font-weight: 700;
        font-size: 14px;
        color: #333;
      }
      .voo {
        padding-left: 40px;
        font-weight: 700;
      }
    }
    .col-1 {
      width: 57%;
    }
    .col-2 {
      width: 43%;
    }
    .nomes {
      padding-left: 40px;
      font-size: 12px;
      width: 100%;
      display: inline-block;
      position: relative;
      padding-right: 7%;
    }
    span.days {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      line-height: 16px;
      color: #0165b1;

    }
  }
  .card {
    margin: 0 0 5px 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ededed;
    border-radius: 5px;
    .card-content {
      padding: 8px 10px;
    }
    .item-block {
      min-height: 0px;
      padding: 0px;
      .item-inner {
        padding: 0px;
      }
    }
    ion-label {
      margin: 0px;
      margin-top: 5px;
    }
  }
}
