<ion-card (click)="goToLogBookDetalhesPage($event)">

  <ion-card-content class="card-logbook" [ngClass]="{'placeholder-loading' : !logbook.id}">
    <ion-row>
      <ion-col class="col-1">
        <p [ngClass]="{'placeholder-animate-loading placeholder-loading-90' : !logbook.id}"
          class="title"
          item-left>{{ (logbook.id) ? (logbook.voo | emptySub: '-') + ' ' + (logbook.aeroportoSaida | emptySub: '- ') + '-' + (logbook.aeroportoChegada | emptySub: ' -') : ''}}</p>

        <p [ngClass]="{'placeholder-animate-loading placeholder-loading-90' : !logbook.id}"
         class="voo"
         item-left>{{ (logbook.id) ? (logbook.aeronaveId | emptySub: '- ') + ', ' + (logbook.aeronaveTipo | emptySub: '- ') : ''}}</p>
      </ion-col>
      <ion-col class="col-2">
        <span [ngClass]="{'placeholder-animate-loading placeholder-loading-100' : !logbook.id}" class="date" item-right>{{ (logbook.id) ? (getDate(logbook.data) | date: 'dd-MMM-yyyy' | emptySub: '-') : '' }}</span>

        <span [ngClass]="{'placeholder-animate-loading placeholder-loading-100' : !logbook.id}" class="horas" item-right>{{ (logbook.id) ? (logbook.saidaUTC | date: 'HH:mm' | emptySub: '-') + ' ' + (logbook.chegadaUTC | date: 'HH:mm' | emptySub: '-') + ' (' + (logbook.horasTotal | durationTime) + ')' : '' }}</span>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <p [ngClass]="{'placeholder-animate-loading placeholder-loading-100' : !logbook.id}"
         class="nomes"
         item-left>{{ logbook.vooPiloto }}
         <span class="days"
         item-right>15D</span>
      </p>
    </ion-row> -->
  </ion-card-content>

</ion-card>
