assembleia-item {
  .card {
    margin: 0 0 5px 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ededed;
    border-radius: 5px;
    .card-content {
      padding: 8px 10px;
    }
    .item-block {
      min-height: 0px;
      padding: 0px;
      .item-inner {
        padding: 0px;
      }
    }
    ion-label {
      margin: 0px;
      margin-top: 5px;
    }
    .category-text {
      color: #999;
      font-size: 12px;
      line-height: 24px;
      min-height: 24px;
      padding: 0px;
      margin: 0px;
    }
    .published-at-text {
      font-size: 12px;
      line-height: 24px;
      min-height: 24px;
      color: #0165b1;
      padding: 0px;
      margin: 0px;
      text-align: right;
    }
    .description-text {
      color: #000;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      white-space: initial;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      line-height: 22px;
      height: 44px;
      padding: 0px;
      margin: 0px;
    }
  }
}
