<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 *ngIf="!editMode" item-left>Logbook - Cadastro</h2>
    <h2 *ngIf="editMode" item-left>Logbook - Edição</h2>
  </ion-item>

  <form class="tipo-solicitacao form-template" (ngSubmit)="doRequest()" [formGroup]="registrationForm">

    <ion-item class="item-type-no-border">
      <h2>Flight</h2>
    </ion-item>

    <ion-label class="label-input">Date:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="data" formControlName="data" [class.error1]="!registrationForm.controls.data.valid && registrationForm.controls.data.dirty" displayFormat="DD MMM YYYY"></ion-datetime>
    </ion-item>

    <ion-label class="label-input">Flight:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="voo" formControlName="voo" [class.error1]="!registrationForm.controls.voo.valid && registrationForm.controls.voo.dirty"></ion-input>
    </ion-item>

    <ion-label class="label-input">Aircraft ID:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="aeronaveId" formControlName="aeronaveId" [class.error1]="!registrationForm.controls.aeronaveId.valid && registrationForm.controls.aeronaveId.dirty"></ion-input>
    </ion-item>

    <ion-label class="label-input">Aircraft Type:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="aeronaveTipo" formControlName="aeronaveTipo" [class.error1]="!registrationForm.controls.aeronaveTipo.valid && registrationForm.controls.aeronaveTipo.dirty"></ion-input>
    </ion-item>

    <ion-label class="label-input">From:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="aeroportoSaida" [(ngModel)]="airportFrom" (ionChange)="findAirportFrom(airportFrom)" formControlName="aeroportoSaida" [class.error1]="!registrationForm.controls.aeroportoSaida.valid && registrationForm.controls.aeroportoSaida.dirty"></ion-input>
    </ion-item>
    <div class="dropdown">
      <div *ngIf="airportsFrom.length > 0" class="dropdown-content">
        <p *ngFor="let item of airportsFrom" (click)="selectFrom(item)"> {{ item.icao }} - {{ item.name }}</p>
      </div>
    </div>

    <ion-label class="label-input">To:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="aeroportoChegada" [(ngModel)]="airportTo" (ionChange)="findAirportTo(airportTo)" formControlName="aeroportoChegada" [class.error1]="!registrationForm.controls.aeroportoChegada.valid && registrationForm.controls.aeroportoChegada.dirty"></ion-input>
    </ion-item>
    <div class="dropdown">
      <div *ngIf="airportsTo.length > 0" class="dropdown-content">
        <p *ngFor="let item of airportsTo" (click)="selectTo(item)"> {{ item.icao }} - {{ item.name }}</p>
      </div>
    </div>


    <ion-label class="label-input">Out:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="saidaLocal" [ngModelOptions]="{standalone: true}" [(ngModel)]="saidaLocal" (ionChange)="edit($event, 'saidaLocal', 'time')" [class.error1]="!registrationForm.controls.saidaLocal.valid && registrationForm.controls.saidaLocal.dirty" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-label class="label-input">In:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="chegadaLocal" [ngModelOptions]="{standalone: true}" [(ngModel)]="chegadaLocal" (ionChange)="edit($event, 'chegadaLocal', 'time')" [class.error1]="!registrationForm.controls.chegadaLocal.valid && registrationForm.controls.chegadaLocal.dirty" displayFormat="HH:mm"></ion-datetime>
    </ion-item>


    <ion-item class="item-type-no-border">
      <h2>Time</h2>
    </ion-item>

    <ion-label class="label-input">Total time:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="horasTotal" placeholder="00:00 (hh:mm)" (keyup)="onKeyUp($event, 'horasTotal')" [ngModelOptions]="{standalone: true}" [(ngModel)]="horasTotal" [class.error1]="!registrationForm.controls.horasTotal.valid && registrationForm.controls.horasTotal.dirty"></ion-input>
    </ion-item>

    <ion-label class="label-input">Night:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="horasNoturnas" placeholder="00:00 (hh:mm)" (keyup)="onKeyUp($event, 'horasNoturnas')" [ngModelOptions]="{standalone: true}" [(ngModel)]="horasNoturnas" [class.error1]="!registrationForm.controls.horasNoturnas.valid && registrationForm.controls.horasNoturnas.dirty"></ion-input>
    </ion-item>

    <ion-label class="label-input">Actual Inst:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="atualInst" [ngModelOptions]="{standalone: true}" [(ngModel)]="atualInst" (ionChange)="edit($event, 'atualInst', 'time')" [class.error1]="!registrationForm.controls.atualInst.valid && registrationForm.controls.atualInst.dirty" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-label class="label-input">PIC:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="pic" [ngModelOptions]="{standalone: true}" [(ngModel)]="pic" (ionChange)="edit($event, 'pic', 'time')" [class.error1]="!registrationForm.controls.pic.valid && registrationForm.controls.pic.dirty" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-label class="label-input">SIC:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="sic" [ngModelOptions]="{standalone: true}" [(ngModel)]="sic" (ionChange)="edit($event, 'sic', 'time')" [class.error1]="!registrationForm.controls.sic.valid && registrationForm.controls.sic.dirty" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item class="item-type-no-border">
      <h2>Duty</h2>
    </ion-item>

    <ion-label class="label-input">Off Duty Local:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="offDuttyLocal" [ngModelOptions]="{standalone: true}" [(ngModel)]="offDuttyLocal" (ionChange)="edit($event, 'offDuttyLocal', 'time')" [class.error1]="!registrationForm.controls.offDuttyLocal.valid && registrationForm.controls.offDuttyLocal.dirty" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-label class="label-input">On Duty Local:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="onDuttyLocal" [ngModelOptions]="{standalone: true}" [(ngModel)]="onDuttyLocal" (ionChange)="edit($event, 'onDuttyLocal', 'time')" [class.error1]="!registrationForm.controls.onDuttyLocal.valid && registrationForm.controls.onDuttyLocal.dirty" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-label class="label-input">Off Duty UTC:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="offDuttyUTC" [ngModelOptions]="{standalone: true}" [(ngModel)]="offDuttyUTC" (ionChange)="edit($event, 'offDuttyUTC', 'time')" [class.error1]="!registrationForm.controls.offDuttyUTC.valid && registrationForm.controls.offDuttyUTC.dirty" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-label class="label-input">On Duty UTC:</ion-label>
    <ion-item class="item-type-input">
      <ion-datetime name="onDuttyUTC" [ngModelOptions]="{standalone: true}" [(ngModel)]="onDuttyUTC" (ionChange)="edit($event, 'onDuttyUTC', 'time')" [class.error1]="!registrationForm.controls.onDuttyUTC.valid && registrationForm.controls.onDuttyUTC.dirty" displayFormat="HH:mm"></ion-datetime>
    </ion-item>

    <ion-item class="item-type-no-border">
      <h2>Crew</h2>
    </ion-item>

    <ion-label class="label-input">PIC/P1 Crew:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="pic_p1" formControlName="pic_p1" [class.error1]="!registrationForm.controls.pic_p1.valid && registrationForm.controls.pic_p1.dirty"></ion-input>
    </ion-item>

    <ion-label class="label-input">SIC/P2 Crew:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="sic_p2" formControlName="sic_p2" [class.error1]="!registrationForm.controls.sic_p2.valid && registrationForm.controls.sic_p2.dirty"></ion-input>
    </ion-item>

    <ion-item class="item-type-no-border">
      <h2>Landings</h2>
    </ion-item>

    <ion-label class="label-input">Day T/O:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="day" placeholder="00:00 (hh:mm)" (keyup)="onKeyUp($event, 'day')" [ngModelOptions]="{standalone: true}" [(ngModel)]="day" [class.error1]="!registrationForm.controls.day.valid && registrationForm.controls.day.dirty"></ion-input>
    </ion-item>

    <ion-label class="label-input">Night T/O:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="night" placeholder="00:00 (hh:mm)" (keyup)="onKeyUp($event, 'night')" [ngModelOptions]="{standalone: true}" [(ngModel)]="night" [class.error1]="!registrationForm.controls.night.valid && registrationForm.controls.night.dirty"></ion-input>
    </ion-item>

    <ion-label class="label-input">Day Ldg:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="day_ldg" placeholder="00:00 (hh:mm)" (keyup)="onKeyUp($event, 'day_ldg')" [ngModelOptions]="{standalone: true}" [(ngModel)]="day_ldg" [class.error1]="!registrationForm.controls.day_ldg.valid && registrationForm.controls.day_ldg.dirty"></ion-input>
    </ion-item>

    <ion-label class="label-input">Night Ldg:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="night_ldg" placeholder="00:00 (hh:mm)" (keyup)="onKeyUp($event, 'night_ldg')" [ngModelOptions]="{standalone: true}" [(ngModel)]="night_ldg" [class.error1]="!registrationForm.controls.night_ldg.valid && registrationForm.controls.night_ldg.dirty"></ion-input>
    </ion-item>

    <ion-item class="item-type-no-border">
      <h2>Notes</h2>
    </ion-item>

    <ion-label class="label-input">Remarks:</ion-label>
    <ion-item class="item-type-input">
      <ion-input type="text" name="remarks" formControlName="remarks" [class.error1]="!registrationForm.controls.remarks.valid && registrationForm.controls.remarks.dirty"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Pilot Flying</ion-label>
        <ion-checkbox name="vooPiloto" formControlName="vooPiloto"></ion-checkbox>
      </ion-item>
    </ion-list>

    <hr>

    <button ion-button type="submit" block>Enviar</button>
    <br>
  </form>

</ion-content>
