page-logbook-manual {
  h2 {
    margin-top: 10px !important;
    color: #0165b1;
    font-weight: bold !important;
    font-size: 16px !important;
  }
  .item-checkbox {
    border: 0 !important;
    margin-top: 15px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    position: absolute;
    top: -16px;
    background-color: #f9f9f9;
    min-width: 288px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown-content p {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
  }

}
