<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Imprimir Relatório Logbook</h2>
  </ion-item>


    <form class="form-template"  (ngSubmit)="doSchedule()" [formGroup]="specialtyScheduleForm">

      <ion-item class="item-type-no-border">
        <ion-label>Selecione o período:</ion-label>
      </ion-item>
      <ion-item>
        <ion-datetime formControlName="selectedSchedule" displayFormat="MMMM YYYY" pickerFormat="MMMM YYYY"></ion-datetime>
      </ion-item>

      <ion-item class="item-type-no-border">
      </ion-item>

      <button ion-button type="submit" block>Imprimir</button>
    </form>

</ion-content>
