list-salario {
  .card {
    margin: 0 0 5px 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ededed;
    border-radius: 5px;
    .card-content {
      padding: 8px 10px;
    }
    .item-block {
      min-height: 0px;
      padding: 0px;
      .item-inner {
        padding: 0px;
      }
    }
    ion-label {
      margin: 0px;
      margin-top: 5px;
    }
    .currency-text {
      text-align: right;
    }
    .time-text,
    .currency-text {
      color: #999;
      font-size: 12px;
      line-height: 24px;
      min-height: 24px;
      padding: 0px;
      margin: 0px;
    }
    .currency-text {
      margin-bottom: 8px;
    }
    .month-text {
      font-size: 12px;
      line-height: 24px;
      min-height: 24px;
      color: #0165b1;
      padding: 0px;
      margin: 0px;
      margin-bottom: 8px;
      text-align: left;
    }
  }
}
