<ion-card (click)="goToDetails($event)">

  <ion-card-content class="description">
	  <ion-item no-lines>
	  	<p [ngClass]="{'placeholder-animate-loading placeholder-loading-100' : (!wageCalculation.id)}"
    			class="month-text"
					item-left><span *ngIf="wageCalculation.id">{{ wageCalculation.month }}/{{ wageCalculation.year }} - {{ wageCalculation.type }}</span></p>
		<p [ngClass]="{'placeholder-animate-loading placeholder-loading-100' : !wageCalculation.id}"
    			class="currency-text"
					item-right><span *ngIf="wageCalculation.id">Sal. Liq.: {{ wageCalculation.netSalary | emptySub: '0' | currency: 'BRL':true }}</span></p>
	  </ion-item>
	  <ion-item no-lines>
	    <p [ngClass]="{'placeholder-animate-loading placeholder-loading-100' : (!wageCalculation.id)}"
	        class="time-text"
	        item-left><span *ngIf="wageCalculation.id">Horas Voadas: {{ wageCalculation.flownHours | durationTime }} - Noturnas: {{ wageCalculation.nightHours | durationTime }}</span></p>
	  </ion-item>
  </ion-card-content>

</ion-card>
