<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Agendar um Consulta</h2>
  </ion-item>

    
    <form class="form-template" (ngSubmit)="doSchedule()" [formGroup]="specialtyScheduleForm">
      <ion-item class="item-type-no-border">
        <ion-label>Selecione uma especialidade:</ion-label>
      </ion-item>
      <ion-item class="item-type-no-border">
        <ion-select class="combo-box" placeholder="..." disabled="{{ specialtyList }}" (ionChange)="onSpecialtySelectionChange($event)" formControlName="selectedSpecialty" [class.error1]="!specialtyScheduleForm.controls.selectedSpecialty.valid && specialtyScheduleForm.controls.selectedSpecialty.dirty">
          <ion-option *ngFor="let specialty of specialtyList" value="{{ specialty.id }}">{{ specialty.name }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="item-type-no-border">
        <ion-label>Selecione um horário:</ion-label>
      </ion-item>
      <ion-item class="item-type-no-border">
        <ion-select class="combo-box" placeholder="..." disabled="{{ specialtyScheduleList }}" (ionChange)="onScheduleSelectionChange($event)" formControlName="selectedSchedule" [class.error1]="!specialtyScheduleForm.controls.selectedSchedule.valid && specialtyScheduleForm.controls.selectedSchedule.dirty">
          <ion-option *ngFor="let specialtySchedule of specialtyScheduleList" value="{{ specialtySchedule.id }}">{{ getDate(specialtySchedule.date) }} hrs</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="item-type-no-border">
      </ion-item>

      <button ion-button type="submit" [disabled]="!specialtyScheduleForm.valid" block>Agendar</button>
    </form>





</ion-content>
