<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Logbook Detalhes</h2>
  </ion-item>

  <div>
    <h3>Flight</h3>
  </div>

  <ion-card-content class="card card-logbook">
    <ion-row>
      <p><img width="22" src="./assets/imgs/flight.png"></p><div class="center">Flight</div>
    </ion-row>

    <ion-row>
      <p>Date</p><div class="center">{{ getDate(logbook.data) | date: 'dd-MMM-yyyy' }} <span class="gray">UTC</span></div>
    </ion-row>

    <ion-row>
      <p>Flight#</p><div class="center">{{ logbook.voo }}</div>
    </ion-row>

    <ion-row>
      <p>Aircraft ID</p>
      <div class="center">{{ logbook.aeronaveId }}</div>
    </ion-row>

    <ion-row>
      <p>Aircraft Type</p><div class="center">{{ logbook.aeronaveTipo }}</div>
    </ion-row>

    <ion-row>
      <p>From</p><div class="center">{{ logbook.aeroportoSaida }}</div>
    </ion-row>

    <ion-row>
      <p>To</p><div class="center">{{ logbook.aeroportoChegada }}</div>
    </ion-row>

    <ion-row class="row-double">
      <p>Out</p>
      <div class="center">
        <div class="coluna"><strong>{{ logbook.saidaUTC | date: 'HH:mm' }}</strong><span>UTC</span></div>
        <div class="coluna coluna-direita"><strong>{{ logbook.saidaLocal | date: 'HH:mm' }}</strong><span>BRT</span></div>
      </div>
    </ion-row>

    <ion-row class="row-double">
      <p>In</p>
      <div class="center">
        <div class="coluna"><strong>{{ logbook.chegadaUTC | date: 'HH:mm' }}</strong><span>UTC</span></div>
        <div class="coluna coluna-direita"><strong>{{ logbook.chegadaLocal | date: 'HH:mm' }}</strong><span>GMT-3</span></div>
      </div>
    </ion-row>
  </ion-card-content>

  <div>
    <h3>Time</h3>
  </div>

  <ion-card-content class="card card-logbook">
    <ion-row>
      <p>Total Time</p><div class="center">{{ logbook.horasTotal | durationTime}}</div>
    </ion-row>

    <ion-row>
      <p>Night</p>
      <div class="center">{{ logbook.horasNoturnas | durationTime }}</div>
    </ion-row>

    <ion-row>
      <p>Actual Inst</p><div class="center">{{ logbook.atualInst | date: 'HH:mm' }}</div>
    </ion-row>

    <ion-row>
      <p>PIC</p><div class="center">{{ logbook.pic | date: 'HH:mm' }}</div>
    </ion-row>

    <ion-row>
      <p>SIC</p><div class="center">{{ logbook.sic | date: 'HH:mm' }}</div>
    </ion-row>
  </ion-card-content>

  <div>
    <h3>Duty</h3>
  </div>

  <ion-card-content class="card card-logbook">
    <ion-row class="row-double">
      <p>On Duty</p>
      <div class="center">
        <div class="coluna"><strong>{{ logbook.onDuttyUTC | date: 'HH:mm' }}</strong><span>UTC</span></div>
        <div class="coluna coluna-direita"><strong>{{ logbook.onDuttyLocal | date: 'HH:mm' }}</strong><span>BRT</span></div>
      </div>
    </ion-row>

    <ion-row class="row-double">
      <p>Off Duty</p>
      <div class="center">
        <div class="coluna"><strong>{{ logbook.offDuttyUTC | date: 'HH:mm' }}</strong><span>UTC</span></div>
        <div class="coluna coluna-direita"><strong>{{ logbook.offDuttyLocal | date: 'HH:mm' }}</strong><span>GMT-3</span></div>
      </div>
    </ion-row>
  </ion-card-content>

  <div>
    <h3>Crew</h3>
  </div>

  <ion-card-content class="card card-logbook">
    <ion-row>
      <p>PIC/P1 Crew</p>
      <div class="center">{{ logbook.picP1 }}</div>
    </ion-row>

    <ion-row>
      <p>SIC/P2 Crew</p>
      <div class="center">{{ logbook.sicP2 }}</div>
    </ion-row>

  </ion-card-content>

  <div>
    <h3>Landings</h3>
  </div>

  <ion-card-content class="card card-logbook">
    <ion-row>
      <p>Day T/O</p>
      <div class="center">{{ logbook.day | durationTime }}</div>
    </ion-row>

    <ion-row>
      <p>Night T/O</p>
      <div class="center">{{ logbook.night | durationTime }}</div>
    </ion-row>

    <ion-row>
      <p>Day Ldg</p>
      <div class="center">{{ logbook.dayLdg | durationTime }}</div>
    </ion-row>

    <ion-row>
      <p>Night Ldg</p>
      <div class="center">{{ logbook.nightLdg | durationTime }}</div>
    </ion-row>
  </ion-card-content>

  <div>
    <h3>Notes</h3>
  </div>

  <ion-card-content class="card card-logbook">
    <ion-row>
      <p>Remarks</p>
      <div class="center">{{ logbook.remarks }}</div>
    </ion-row>
  </ion-card-content>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <div class="btn-edit">
          <button (click)="editItem()" ion-button type="submit" block>Editar</button>
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="btn-delete">
          <button (click)="deletaItem()" ion-button type="submit" block>Excluir</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
