page-log-book-detalhes {
  .card {
    margin: 0 0 5px 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 10px;
    .row {
      border-bottom: 1px solid #ededed;
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
    .row-double {
      p {
        line-height: 37px;
      }
      .icon-edit {
        button {
          margin-top: 10px;
        }
      }
    }
    .row:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    p {
      width: 33%;
      margin: 0;

    }
    p.p-full {
      width: 100%;
      color: #666;
    }
    .center {
      width: 60%;
      text-align: center;
      color: #0165b1;
      .coluna {
        width: 50px;
        display: inline-block;
        border-right: 1px solid #ededed;
        strong {
          width: 100%;
          display: inline-block;
          color: #0165b1;
        }
        span {
          width: 100%;
          display: inline-block;
          color: #999;
          font-size: 12px;
        }
        .icon-edit {
          width: auto;
          text-align: center;
        }
        &.coluna-direita {
          border: none;
        }
      }
      .gray {
        color: #999;
        padding-left: 15px;
      }
    }
    .icon-edit {
      width: 7%;
      text-align: right;
      button {
        background: none;
        padding: 0;
        .icon {
          font-size: 1.6em;
          line-height: 15px;
        }
      }
    }
    .card-content {
      padding: 3px;
    }
    .item-block {
      min-height: 0px;
      padding: 0px;
      .item-inner {
        padding: 0px;
      }
    }
    ion-label {
      margin: 0px;
      margin-top: 5px;
    }


  }

  .btn-delete {
    button {
      background-color: red;
    }
  }
}
