page-solicitar-atendimento {
	.btn-add-file {
    display: block;
    margin: 0px 0px 30px 0px !important;
    padding: 20px !important;
    background: #FFF !important;
    border: 1px solid color($colors, primary, base);;
    color: color($colors, primary, base);
    box-shadow: none;
  }
  .btn-add-file.green {
    background: green !important;
    border: 1px solid green;
    color: white;
  }
  .doc-file-title {
    color: #000;
    padding-bottom: 10px;
    white-space: normal;
    span {
    	color: color($colors, primary, base);
    }
  }
}
