<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Solicitar Atendimento - {{ tipo }}</h2>
  </ion-item>

  <form class="tipo-solicitacao form-template" (ngSubmit)="doRequest()" [formGroup]="requestForm">

    <ion-list *ngIf="anonimoAtivo">

      <ion-item>
        <ion-label>Enviar Anônimo?</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>

    </ion-list>

    <div class="box-error" *ngIf="hasFormError">
      <p no-padding no-margin *ngIf="hasFormError">Por favor, preencha o campo corretamente.</p>
    </div>

    <ion-item class="item-type-1 item-type-no-border">
      <ion-label><p class="doc-file-title">Assunto:</p></ion-label>
    </ion-item>

    <ion-item>
      <ion-input type="text" name="assunto" formControlName="assunto" [class.error1]="!requestForm.controls.assunto.valid && requestForm.controls.assunto.dirty" required="true"></ion-input>
    </ion-item>

    <ion-item class="item-type-no-border">
      <ion-label>Descreva sua solicitação:</ion-label>
    </ion-item>

    <ion-item class="item-textarea item-type-1">
      <ion-textarea class="textarea" placeholder="" name="texto" formControlName="texto" [class.error1]="!requestForm.controls.texto.valid && requestForm.controls.texto.dirty" required="true"></ion-textarea>
    </ion-item>

    <ion-item class="item-type-1 item-type-no-border">
      <ion-label><p class="doc-file-title">Anexar documento(s):</p></ion-label>
    </ion-item>

    <ion-list *ngIf="selectedFiles?.length > 0">
      <ion-item *ngFor="let selectedFile of selectedFiles let x = index">
        <ion-label item-left text-wrap>{{ selectedFile.name }}</ion-label>
        <ion-label item-right text-right (click)="removeFile(x)"><ion-icon name="trash"></ion-icon> remover</ion-label>
      </ion-item>
    </ion-list>

    <ion-item class="item-upload-file item-type-1 item-type-no-border">
      <ion-item class="item-file-btn" item-left>
        <input type="file" name="file" multiple="multiple" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,video/*, audio/*" (change)="fileChange($event)" id="file-input" style="opacity: 0" #fileInp />
        <button class="btn-add-file" ion-button (click)="addFileNextStep()" middle>Selecionar...</button>
      </ion-item>
    </ion-item>

    <button ion-button type="submit" block>Enviar</button>
  </form>

</ion-content>
