<ion-header no-border>
  <ion-navbar color="white">
    <ion-item no-lines color="white">
      <ion-title>
        <img src="./assets/imgs/sna.png">
      </ion-title>
    </ion-item>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item class="titles" no-lines no-padding>
    <h2 item-left>Carteirinha Virtual</h2>
  </ion-item>

  <div *ngIf="dataHasBeenLoaded && virtualCard" class="virtual-card-container">
  	<img class="uploaded-image" src="./assets/imgs/carteirinha_associado_app.png" alt="" />
  	<div class="card-data-container">
  		<p><span>Nome:</span> {{ virtualCard.name }}</p>
  		<p><span>Empresa:</span> {{ virtualCard.company }}</p>
  		<p><span>Função:</span> {{ virtualCard.role }}</p>
  		<p><span>N° Matrícula:</span> {{ virtualCard.id }}</p>
  		<p><span>Membro Desde:</span> {{ virtualCard.admissionDate }}</p>
  		<p><span>Validade:</span> {{ virtualCard.validationDate }}</p>
		</div>
  </div>

  <p *ngIf="dataHasBeenLoaded && !virtualCard" class="box-alert">Nenhum registro foi encontrado.</p>

</ion-content>
