page-carteirinha-virtual {
	.virtual-card-container {
		position: relative;

		.uploaded-image {
			width: 100%;
		}

		.card-data-container {
	    padding: 10px;
	    position: absolute;
	    top: 50%;
	    margin-top: 20px;
	    width: 100%;
	    background-color: #dfe2e3;
      margin-bottom: 15px;

      p {
      	margin: 0 0 10px 0;
      }

      span {
      	font-weight: bold;
      }
		}
	}
}
